<p><img loading="lazy" src='<%= currentUser.steam.avatar %>' alt='Your Avatar Image' /></p>
<p>Steam ID: <%= currentUser.steam.id %>
</p>
<p>Name: <%= currentUser.username %>
</p>
<a href="/auth">Go to index</a>