<% layout('layouts/boilerplate')%>

   <link rel="stylesheet" href="/stylesheets/tradeTile.css">

   <header class="container my-5 d-flex flex-column">

      <div class="d-flex flex-row justify-content-between align-items-center">

         <h1 class="display-3 my-2 py-2">Favourite Trade-Ups</h1>
         <a class="btn btn-dark mt-2 d-flex" href="/">View Main Page</a>

      </div>

      <p class="lead text-justify">
         Now you can enjoy your favourite trade-ups in one place. Play around the find the best that you might want to
         finalize in real life. Let's go!
      </p>

   </header>


   <main class="container">

      <% if(favouriteTrades.length){ %>
         <ul>

            <% for(let favouriteTrade of favouriteTrades){ %>

               <% const tradeDetails=favouriteTrade.instance.trade %>

                  <%-`
                     ${include('../partials/tradeTile',{elementName:'li',title:false,trade:favouriteTrade,details:tradeDetails,manageTrade:favouriteTrade.orginalTrade,showPageLink:'/favourites/'+favouriteTrade._id+'/edit'})}`%>

                     <% } %>



         </ul>
         <% }else{ %>

            <h2 class="display-6">
               Oww!
               <br>
               It apperas you have got no favourite trades added!
               <br>
               Let's dive right into them!
            </h2>

            <a class="btn btn-success mt-2 d-flex justify-content-center" href="/explore">EXPLORE TRADES!</a>

            <% } %>

   </main>


   <script src="/javascripts/onFavouritesPage/favourites.js"></script>
   <script src="/javascripts/addingDeletingFavAndHigh/highlights.js"></script>