<% layout('layouts/boilerplate')%>

   <link rel="stylesheet" href="/stylesheets/tradeTile.css">

   <header class="container my-5 d-flex flex-column">



      <h1 class="position-relative flex-1 display-3 my-2 py-2">Favourite Trade-Ups
         <img loading="lazy" class="enticing-svg left-0" src="/assets/undraw/undraw_Appreciation_re_p6rl.svg"
            alt="Favourite Svg Element">
      </h1>



      <p class="lead text-justify">
         Now you can enjoy your favourite trade-ups in one place. Play around the find the best that you might want to
         finalize in real life. Let's go!
      </p>
      <div class="d-flex flex-row">

         <a class="btn btn-outline-light mt-2 me-1 d-flex width-fit-content" href="/">View Main Page</a>
         <a class="btn btn-outline-light mt-2 ms-1 d-flex width-fit-content" href="/explore">View Our Engine</a>
      </div>



   </header>


   <main class="container">

      <% if(favouriteTrades.length){ %>
         <ul class="mb-5 pb-5">
            <% let i=0;let directions=['right','left']; %>
               <% let animationData=`data-aos="fade-${directions[i%2]}" data-aos-once="true" ` %>

                  <% for(let favouriteTrade of favouriteTrades){ %>
                     <% ++i; %>

                        <% let
                           wouldBeHighlighted=false;if(favouriteTrade.orginalTrade!=null){wouldBeHighlighted=favouriteTrade.orginalTrade.isHighlighted}
                           %>

                           <%-`
                              ${include('../partials/tradeTile.ejs',{elementName:'li',title:false,statistics:favouriteTrade.statistics,data:favouriteTrade.data,_id:favouriteTrade.orginalTradeId,
                              favouritesInfo:null,isHighlighted:wouldBeHighlighted,
                              isOnFavouritePage:true,pricesType:favouriteTrade.pricesType,
                              showPageLink:`/favourites/${favouriteTrade._id}/edit`, animationData:animationData})}`%>

                              <% } %>



         </ul>
         <% }else{ %>

            <h2 class="display-6">
               Oww!
               <br>
               It apperas you have got no favourite trades added!
               <br>
               Let's dive right into them!
            </h2>

            <a class="btn btn-success my-4 d-flex justify-content-center" href="/explore">EXPLORE TRADES!</a>

            <% } %>

   </main>


   <script src="/javascripts/addingDeletingFavAndHigh/favourites.js"></script>

   <script src="/javascripts/addingDeletingFavAndHigh/highlights.js"></script>