<canvas id="myChart" width="400" height="150"></canvas>

<div class="d-flex flex-row justify-content-between my-3">

   <span>

      <button class="btn-simulate-amount btn btn-danger me-1">10</button>
      <button class="btn-simulate-amount btn btn-outline-danger me-1">50</button>
      <button class="btn-simulate-amount btn btn-outline-danger me-1">100</button>
      <button class="btn-simulate-amount btn btn-outline-danger me-1">200</button>

      <button class="btn btn-danger btn-simulate-steam-fee mx-1">Apply steam fee 13%</button>
   </span>


   <button class="btn btn-success btn-simulate d-flex justify-self-start">SIMULATE</button>


</div>

<script src="/javascripts/libraries/chart.js"></script>
<script src="/javascripts/tradeShow/chart.js"></script>