<div class="chart-container d-flex flex-column align-items-center">

   <h3 class="mt-3">SIMULATION [ <%= currency.symbol %> ] </h3>
   <hr role=tournament6>

   <canvas id="myChart"></canvas>

   <div class="w-100 d-flex flex-row justify-content-between my-3">

      <span>

         <button class="btn-simulate-amount btn btn-danger">10</button>
         <button class="btn-simulate-amount btn btn-outline-danger">50</button>
         <button class="btn-simulate-amount btn btn-outline-danger">100</button>
         <button class="btn-simulate-amount btn btn-outline-danger">200</button>

         <button class="btn btn-danger btn-simulate-steam-fee ">Apply steam fee 13%</button>
      </span>


      <button class="btn btn-success btn-simulate d-flex justify-self-start align-items-center">SIMULATE</button>


   </div>
</div>

<script src="/javascripts/libraries/chart.js"></script>
<script src="/javascripts/tradeShow/chart.js"></script>