<canvas id="myChart" width="400" height="150"></canvas>

<div>
   <div class="d-flex flex-row my-2 ">
      <button class="btn-simulate-amount btn btn-danger  me-1">10</button>
      <button class="btn-simulate-amount btn btn-outline-danger me-1">50</button>
      <button class="btn-simulate-amount btn btn-outline-danger me-1">100</button>
      <button class="btn-simulate-amount btn btn-outline-danger me-1">200</button>
   </div>
   <div class="d-flex flex-row my-2 ">
      <button class="btn btn-outline-danger btn-simulate-steam-fee py-0">Apply steam fee 13%</button>
   </div>

   <div class="d-flex flex-row my-3 ">
      <button class="btn btn-success btn-simulate">Simulate!</button>
   </div>

</div>

<script src="/javascripts/libraries/chart.js"></script>
<script src="/javascripts/chart/script.js"></script>