<footer class="footer mt-auto pt-4 pt-md-2 px-3">
   <div class="container p-2">
      <div class="row">

         <div class="col-12 col-md-3 d-flex flex-column mb-4 mb-md-0">
            <p class="lead bg-footer-feature text-white p-2 rounded">MENU</p>
            <a class="link-secondary px-2" href="/guide">Guide</a>
            <a class="link-secondary px-2" href="/about">About</a>
            <a class="link-secondary px-2" href="/contact">Contact</a>
            <a class="link-secondary px-2" href="/explore">Explore</a>
            <a class="link-secondary px-2" href="/favourites">Favourites</a>
         </div>

         <div class="col-12 col-md-3 d-flex flex-column mb-4 mb-md-0">
            <p class="lead bg-footer-feature text-white p-2 rounded">TERMS & POLICY</p>
            <a class="link-secondary px-2" href="/policy">Policy</a>
         </div>

         <div class="col-12 col-md-6 d-flex flex-column">
            <p class="lead d-flex flex-column bg-footer-feature text-white p-2 rounded">TRADEUP-FINDER.COM</p>
            <p class="text-secondary px-2">Professional trading engine platform. TradeUp-Finder.com</p>

            <p class="text-secondary px-2">Email: <a class="link-secondary"
                  href="mailto:contact@kontrakciarze.com">contact@tradeupfinder.com </a></p>
            <p class="text-secondary px-2">Steam Group: <a class="link-secondary"
                  href="https://steamcommunity.com/groups/kontrakciarze" target="_blank"> Kontrakciarze - KONTRR
            </p>
         </div>

      </div>
   </div>
   <div class="text-center text-md-end p-2 pe-md-5">
      © 2021 Damian Trafiałek <a href="mailto:damian.trafialek@gmail.com"
         class="link-secondary">damian.trafialek@gmail.com</a>
   </div>
</footer>