<section class="d-flex flex-column sticky-top">
   <nav id="settings" class=" d-flex flex-row justify-content-between">

      <span class="nav-settings-item">

         <select name="currency-menu" id="currency-menu" class="form-select width-fit-content nav-settings-item">
            <option value="{'code':'USD','symbol':'$'}">USD ($)</option>
            <option value="{'code':'EUR','symbol':'€'}">EUR (€)</option>
            <option value="{'code':'GBP','symbol':'£'}">GBP (£)</option>
            <option value="{'code':'JPY','symbol':'¥'}">JPY (¥)</option>
            <option value="{'code':'AUD','symbol':'A$'}">AUD (A$)</option>
            <option value="{'code':'CAD','symbol':'C$'}">CAD (C$)</option>
            <option value="{'code':'NZD','symbol':'NZ$'}">NZD (NZ$)</option>
            <option value="{'code':'SGD','symbol':'S$'}">SGD (S$)</option>
            <option value="{'code':'HKD','symbol':'HK$'}">HKD (HK$)</option>
            <option value="{'code':'SEK','symbol':'kr'}">SEK (kr)</option>
            <option value="{'code':'NOK','symbol':'kr'}">NOK (kr)</option>
            <option value="{'code':'DKK','symbol':'kr'}">DKK (kr)</option>
            <option value="{'code':'ISK','symbol':'kr'}">ISK (kr)</option>
            <option value="{'code':'KRW','symbol':'₩'}">KRW (₩)</option>
            <option value="{'code':'CNY','symbol':'¥'}">CNY (¥)</option>
            <option value="{'code':'CHF','symbol':'CHF'}">CHF (CHF)</option>
            <option value="{'code':'MXN','symbol':'$'}">MXN ($)</option>
            <option value="{'code':'INR','symbol':'₹'}">INR (₹)</option>
            <option value="{'code':'ILS','symbol':'₪'}">ILS (₪)</option>
            <option value="{'code':'RUB','symbol':'₽'}">RUB (₽)</option>
            <option value="{'code':'ZAR','symbol':'R'}">ZAR (R)</option>
            <option value="{'code':'HRK','symbol':'kn'}">HRK (kn)</option>
            <option value="{'code':'TRY','symbol':'₺'}">TRY (₺)</option>
            <option value="{'code':'BRL','symbol':'R$'}">BRL (R$)</option>
            <option selected value="{'code':'PLN','symbol':'zł'}">PLN (zł)</option>
            <option value="{'code':'THB','symbol':'฿'}">THB (฿)</option>
            <option value="{'code':'IDR','symbol':'Rp'}">IDR (Rp)</option>
            <option value="{'code':'HUF','symbol':'Ft'}">HUF (Ft)</option>
            <option value="{'code':'CZK','symbol':'Kč'}">CZK (Kč)</option>
            <option value="{'code':'PHP','symbol':'₱'}">PHP (₱)</option>
            <option value="{'code':'BGN','symbol':'лв'}">BGN (лв)</option>
            <option value="{'code':'MYR','symbol':'MR'}">MYR (MR)</option>
            <option value="{'code':'RON','symbol':'L'}">RON (L)</option>
            <option value="{'code':'AED','symbol':'د.إ.'}">AED (د.إ.)</option>
         </select>
         <a href="https://steamcommunity.com/groups/kontrakciarze" target="_blank" class="icons social-steam-icon"></a>
         <% if(currentUser && currentUser.steam!=null){ %>
            <!-- DOES NOT SUPPORT CUSTOM PROFILE LINKS -->
            <a href="https://steamcommunity.com/profiles/<%= currentUser.steam.id %>/" target="_blank"
               class="link-light no-underline d-flex flex-row">
               <img src="<%= currentUser.steam.avatar  %> " alt="Your Avatar Image" class="icons">
               <p class="ms-2">
                  <%= currentUser.username %>
               </p>
            </a>
            <% } else if(currentUser){ %>
               <p class="link-light ms-2">
                  <%= currentUser.username %>
               </p>
               <% } %>

      </span>

      <select name="theme-mode" id="theme-mode" class="form-select width-fit-content nav-settings-item">
         <option value="dark">Dark Mode</option>
         <option value="light">Light Mode</option>
         <option value="random">Random Theme</option>
      </select>

   </nav>

   <nav id="navbar" class="navbar navbar-expand-md navbar-dark nav-gradient px-0">
      <div id="menuToggle" class="container-fluid d-flex align-items-center">
         <a class="navbar-brand m-0 ms-2 p-0" href="/" aria-current="page">Kontrakciarze</a>
         <% if(!currentUser){ %>

            <a href="/auth/steam" class="steamLink ms-3"></a>
            <% } %>

               <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
         aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"> -->
               <button class="navbar-toggler border-0 collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                  aria-label="Toggle navigation">
                  <input class="navbar-checkbox" type="checkbox">
                  <span class="mt-1"></span>
                  <span></span>
                  <span></span>
               </button>
               <!-- <span class="navbar-toggler-icon"></span> -->
               <!-- </button> -->
               <div class="navbar-collapse justify-content-md-end collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav d-flex align-items-center" id="navbarLinks">
                     <a href="/skins" class="px-2 link-light">Explore</a>
                     <a href="/favourites" class="px-2 link-light">Favourites</a>
                     <a href="/skins/database" class="px-2 link-light">Database</a>

                     <% if(!currentUser){ %>
                        <a href="/user/login" class="ms-3 me-1 px-2 link-light">Login</a>
                        <a href="/user/register"
                           class="me-2 px-2 py-1 link-light border border-white border-2 rounded">Register</a>
                        <% } else{%>

                           <a href="/user/logout"
                              class="mx-2 px-2 py-1 link-light border border-white border-2 rounded">Logout</a>
                           <% } %>
                              <!-- <a href="/user/login" class="px-2">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user-circle"
                           class="user-icon" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
                           <path fill="currentColor"
                              d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 96c48.6 0 88 39.4 88 88s-39.4 88-88 88-88-39.4-88-88 39.4-88 88-88zm0 344c-58.7 0-111.3-26.6-146.5-68.2 18.8-35.4 55.6-59.8 98.5-59.8 2.4 0 4.8.4 7.1 1.1 13 4.2 26.6 6.9 40.9 6.9 14.3 0 28-2.7 40.9-6.9 2.3-.7 4.7-1.1 7.1-1.1 42.9 0 79.7 24.4 98.5 59.8C359.3 421.4 306.7 448 248 448z">
                           </path>
                        </svg></a> -->

                  </div>
               </div>
      </div>

   </nav>

</section>