<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Kontrakciarze CS:GO</title>
   <link rel="icon" type="image/png" href="/assets/icon.png" />
   <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
   <link rel="stylesheet" href="/stylesheets/app.css">
   <link rel="stylesheet" href="/stylesheets/tradeTile.css">
</head>

<body>
   <%- include('../partials/navbar')%>

      <%- body %>


         <%- include('../partials/footer')%>
            <script src="/javascripts/popper.min.js"></script>
            <script src="/javascripts/bootstrap.min.js"></script>
            <script src="/javascripts/bootstrapJs/popovers.js"></script>


</body>

</html>