<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Kontrakciarze CS:GO</title>
   <link rel="icon" type="image/png" href="/assets/icon.png" />

   <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
   <link rel="stylesheet" href="/stylesheets/root.css">
   <link rel="stylesheet" href="/stylesheets/app.css">

</head>

<body class="slim-scrollbar">


   <%- include('../partials/navbar')%>
      <div class="navbarSpace d-none"></div>


      <%- body %>


         <%- include('../partials/footer')%>


            <script src="/javascripts/axios.min.js"></script>
            <script src="/javascripts/popper.min.js"></script>
            <script src="/javascripts/bootstrap.min.js"></script>
            <script src="/javascripts/bootstrapJs/popovers.js"></script>

            <script src='/javascripts/bootstrapJs/toasts.js'></script>
            <script src="/javascripts/navbar/navbar.js"></script>

            <% if (!cookiesAcceptance) { %>

               <%- include('../partials/cookiesModal')%>
                  <% } %>

                     <script>
                        const addStyles = styles => {
                           const styleEl = document.createElement('style')
                           styleEl.innerHTML = `:root{ ${styles} }`;
                           document.body.append(styleEl);
                        }
                     </script>


</body>

</html>