<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
   <meta name="apple-mobile-web-app-capable" content="yes" />
   <link rel="icon" type="image/png" href="/assets/icon.png" />
   <title id="page-title">Kontrakciarze CS:GO</title>


   <link rel="stylesheet" href="/stylesheets/aos.css">
   <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

   <link rel="stylesheet" href="/stylesheets/root.css">
   <link rel="stylesheet" href="/stylesheets/app.css">
   <link rel="stylesheet" href="/stylesheets/app_2.css">

   <script src="/javascripts/libraries/axios.min.js"></script>
</head>

<body class="slim-scrollbar scrollbar-body">


   <%- include('../partials/navbar')%>





      <%- body %>

         <%- include('../partials/footer')%>

            <script src="/javascripts/libraries/aos.js"></script>
            <script>

               AOS.init({
                  easing: 'ease',
                  duration: 750,
                  once: false,
               });

               const addStyles = styles => {
                  const styleEl = document.createElement('style')
                  styleEl.innerHTML = `:root{ ${styles} }`;
                  document.body.append(styleEl);
               }

            </script>


            <script src="/javascripts/libraries/popper.min.js"></script>
            <script src="/javascripts/libraries/bootstrap.min.js"></script>
            <script src="/javascripts/bootstrapJs/popovers.js"></script>

            <script src='/javascripts/bootstrapJs/toasts.js'></script>
            <script src="/javascripts/navbar/navbar.js"></script>






            <% if (!cookiesAcceptance) { %>
               <%- include('../partials/cookiesNotification')%>
                  <% } %>

</body>

</html>