<% layout('layouts/boilerplate')%>


   <script src="/javascripts/mapCollection.js"></script>
   <div class="container">
      <%- data %>
         <div id="collectionName">
            <%=collectionName%>
         </div>
   </div>