<% layout('layouts/boilerplate')%>


   <script src="/javascripts/mapFloats.js"></script>
   <div class="container">

      <% for(let page of pages){ %>

         <%- page %>
            <% } %>

   </div>