<% layout('layouts/boilerplate')%>

   <script src="/javascripts/axios.min.js"></script>
   <script src="/javascripts/mapFloats.js"></script>
   <div class="container">

      <% for(let page of pages){ %>

         <%- page %>
            <% } %>

   </div>