<% layout('layouts/boilerplate')%>

<main class="container pb-4 my-5">
    <h1>Experimental</h1>
    <p>Here you can see the experimental trade-ups update</p>
    <button id="updateExperimentalTrades" class="btn btn-primary">
        experimental-update
    </button>
</main>

<script>
  const updateBtn = document.getElementById("updateExperimentalTrades");

  const experimentalUpdate = async () => {
    const someUrl = encodeURI(
      "https://steamcommunity.com/market/pricehistory/?appid=730&market_hash_name=AK-47 | Aquamarine Revenge (Minimal Wear)"
    );
    console.log(someUrl);
    //set cors to allow this request
    const response = await fetch(someUrl, {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
        "Access-Control-Allow-Origin": "*", //allow cors
      },
      

    });
    const data = await response.json();
    console.log(data);
  };

  updateBtn.addEventListener("click", experimentalUpdate);
</script>
