<% layout('layouts/boilerplate')%>

   <link rel="stylesheet" href="/stylesheets/tradeTile.css">

   <header class="container my-5 d-flex flex-column">

      <% let name='currently not avaible' ; %>
         <% if(profitableTrades.length)name=profitableTrades[0].name %>

            <div class="d-flex flex-row justify-content-between align-items-center">

               <h1 class="display-3 my-2 py-2">Trade-Ups : <%= name %>
               </h1>
               <a class="btn btn-dark mt-2 d-flex" href="/">View Main Page</a>

            </div>



            <p class="lead text-justify">
               Trade-ups here has been gathered just for YOU. Discover and research the best ones that suits you the
               most. To
               see a certain trade-up just click "View Trade-up"
            </p>



   </header>


   <main class="container pb-4">
      <% if(profitableTrades){ %>

         <ul>
            <% let i=0;let directions=['right','left']; %>
               <% for(let profitableTrade of profitableTrades){ %>
                  <% ++i; %>


                     <% let animationData=`data-aos="fade-${directions[i%2]}" data-aos-duration="400" `; %>
                        <% i<=2 ? animationData='' :null; %>

                           <%-`
                              ${include('../partials/tradeTile',{elementName:'li',title:false,statistics:profitableTrade.statistics,data:profitableTrade.data,_id:profitableTrade._id,
                              favouritesInfo:profitableTrade.favouritesInfo,isHighlighted:profitableTrade.isHighlighted,isOnFavouritePage:false,
                              showPageLink:'/trades/'+profitableTrade._id, animationData:animationData})}`%>

                              <% } %>



         </ul>
         <% } %>

   </main>


   <script src="/javascripts/addingDeletingFavAndHigh/favourites.js"></script>
   <script src="/javascripts/addingDeletingFavAndHigh/highlights.js"></script>