<% layout('layouts/boilerplate')%>

   <header class="container my-5 ">

      <h1 class="display-6 my-2 py-2">Trade'y Algorytmu Mixed</h1>

      <% if(info && info.length){ %>
         <div class="lead alert alert-success alert-dismissible fade show" role="alert">
            <h4 class="alert-heading">Well done ;) !</h4>
            <hr>
            <p>
               <%= info %>
            </p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
         </div>
         <% } %>

            <span class="links">
               <a class="btn btn-primary mt-2" href="/skins">Wróć do strony skinów</a>
               <!-- <a class="btn btn-primary mt-2"
                  href="<%= url.replace('action=save','action=nothing').replace('action=display','action=nothing') %>">
                  Szukaj od nowa</a> -->
            </span>
   </header>


   <main class="container pb-4">
      <% if(profitableTrades){ %>

         <ul>

            <% for(let profitableTrade of profitableTrades){ %>

               <% const tradeDetails=profitableTrade.instance.trade %>

                  <%-`
                     ${include('../partials/tradeTile',{elementName:'li',title:false,trade:profitableTrade,details:tradeDetails,manageTrade:profitableTrade,showPageLink:'/trades/'+profitableTrade._id})}`%>

                     <% } %>



         </ul>
         <% } %>

   </main>

   <script src="/javascripts/axios.min.js"></script>
   <script src="/javascripts/addingDeletingFavAndHigh/favourites.js"></script>
   <script src="/javascripts/addingDeletingFavAndHigh/highlights.js"></script>