<% layout('layouts/boilerplate')%>

   <main class="mt-5">

      <section id="about">
         <div class="container">

            <h1 class="display-3 mb-4">About us!</h1>

            <p class="f-caveat fs-4 lead text-justify">I am an 18-teen years old web-developer who, so far, has been
               single-handly
               developing this
               website as a project and as an unique in its kind platform which makes it possible for YOU to manage
               trade-ups
               on your own. You will NOT find here any unreal and fake trade-ups on account of the fact that whatever I
               do
               I
               do it with thoughts that decent people are actually going to try out my website. Motivated by honestness
               I
               focus
               on conveying all the necessary information unchanged and realistic.</p>

            <p class="f-caveat fs-4 lead text-justify">
               I am open to your words of opinion. You can freely suggest some changes and perharps YOU will be the one
               who
               is
               going to push our development in the right dirrections!
            </p>

            <p class="f-caveat fs-4 lead text-justify">
               All the algorithms that occur on the page has been improved several times so that we are sure we deliver
               the
               best possible experiences. Please NOTE that the page is under continous development so if you happen to
               notice
               anything that is NOT working properly or is difficult in usage please give me a sign. You can do so by
               emailing me and attaching a screenshot or description of a problem.
            </p>



         </div>
      </section>

      <section id="premium" class="pt-10">
         <div class="container">

            <h1 class="display-5 mb-4">Join premium!</h1>

            <p class="lead text-justify">Our platform is under continous development and it is going to have even more
               intresting features so that's said it will be certainly a magnificent piece of art. In order to entice
               you
               to use it we decided to give every new member a <span class="border-bottom"> FREE PREMIUM ACCOUNT</span>
               that will be <span class="border-bottom"> VALID FOREVER</span>. The only
               thing you have to do is to create an account now while the page is in BETA STATE and you will never miss
               on
               current and future features that
               are going to appear on the page. NOTE that this offert is time limited! <a class="link-light"
                  href="/user/register">Click here to
                  create a new account now!</a> </p>

            <p class="lead text-justify">
               You can ALSO GET PREMIUM by registering via the links from our partners that we are working with. You
               will
               find them down below.
            </p>

            <p class="lead text-justify">NOTE! Currently everyone does have a PREMIUM ACCESS. It will be removed after
               our
               BETA development finishes and current users without the account will lose it! The ones that have
               registered
               themself during this period will be able to keep their PREMIUM ACCOUNTS!</p>




         </div>
      </section>

      <%- include('./partials/collaborationContainer.ejs',{classes:'py-10',animationData:'',isImg:false}) %>

   </main>