<% layout('layouts/boilerplate')%>

   <main class="container my-5 d-flex align-items-center justify-content-center">
      <form id="contact" class="mb-5 d-flex flex-column validated-form" action="/about" method="POST" novalidate="">

         <h1 class="title display-3 my-4">Contact us!</h1>
         <h5 class="pb-3 lead">In order to start our dialogue we made it easy for YOU to tell us what is on your
            MIND. You can either write to us directly on our mail <a class="mailto link-light"
               href="mailto:contact@tradeupfinder.com">contact@tradeupfinder.com</a> or fill a contact form here on the
            page below.</h5>

         <div class="d-flex flex-column position-relative mb-2">
            <label for="name" class="form-label paragraph">Name :</label>
            <input id="name" name="name" type="text" class="form-control" required>
            <div class="invalid-feedback">
               Please insert your name
            </div>

         </div>

         <div class="d-flex flex-column position-relative mb-2">
            <label for="email" class="form-label paragraph">E-mail :</label>
            <div class="input-group has-validation">
               <span class="input-group-text text-dark" id="inputGroupPrepend">@</span>
               <input type="email" class="form-control" id="email" name="email" aria-describedby="inputGroupPrepend"
                  required>
               <div class="invalid-feedback">
                  Please insert your email
               </div>
            </div>

         </div>
         <div class="d-flex flex-column position-relative mb-2">
            <label for="text" class="form-label paragraph">Your thoughts :</label>
            <textarea name="text" id="text" class="form-control"
               placeholder="i.e. Hi there! I really value your work and would like to say..." rows="6"
               required></textarea>
            <div class="invalid-feedback">
               Please say something
            </div>
         </div>

         <button id="submit" class="btn btn-success my-1 text-uppercase" type="submit">Submit</button>
      </form>

   </main>

   <script src=" /javascripts/bootstrapJs/bs-custom-file-input.min.js"></script>
   <script src="/javascripts/bootstrapJs/validateForms.js"></script>