<% layout('layouts/boilerplate')%>

   <div class="container py-5">
      <div class="card">
         <div class="card-body">
            <div class="card-title">
               <h1>Error</h1>
            </div>
            <p class="lead mb-0">
               <%= err.message %>
            </p>
            <p class="lead mt-0">
               <%= err.info %>
            </p>
            <a href="/skins/" class="btn btn-danger">Index</a>
         </div>
      </div>
   </div>