<% layout('layouts/boilerplate')%>

   <main class="container d-flex flex-column align-items-start justify-content-center mt-5">
      <h1 class="display-3">Guide - First Steps</h1>

      <section class="my-5">

         <h3 class="display-6">CAUTION</h3>
         <p class="lead text-justify">
            All trade-ups listed on this site are only SUGGESTIONS!
            Beware that doing trade-ups always contains risk of losing money. Trade-ups on this site do not guarantee
            anything and we do not take responsibility for your actions.
         </p>

      </section>




      <section class="my-5 d-flex flex-column">
         <h3 class="display-6">HOW DOES IT WORK?</h3>

         <p class="lead text-justify">
            Finding profitable trade-ups is not an easy thing to do.
            That’s why we’ve created this website to help you find the best, up to date trade-ups in a couple of
            seconds.
         </p>
         <p class="lead text-justify">
            Trade-ups featured on our website are found and refreshed by bots. That’s why you can have access to so many
            of
            them.
         </p>
         <p class="lead text-justify">
            Though we refresh our trade-ups regularly, be sure to check prices of included skins on the steam market, it
            can swing rapidly.
         </p>

         <p class="lead text-justify">
            Every trade-up idea is displayed like this:
         </p>
         <img class="my-4 img-fluid d-flex align-self-center" src="/assets/guide/tradeup_tile.png"
            alt="Picture of the trade-up tile">

         <p class="lead text-justify">
            You are presented with many qualities including:
         </p>

         <ul class="bullets lead">
            <li>Cost per trade-up - Total cost of buying all 10 skins used in the trade-up</li>
            <li>Statistical profit - Average amount of money earned by conducting one trade-up</li>
            <li>Chances - Percent of chances that conducted trade up will return profit.</li>
            <li>Profitability - Average amount of money earned by conducting one trade-up formulated in a percentage of
               cost per trade-up</li>
         </ul>

      </section>






      <section class="my-5 d-flex flex-column">
         <h3 class="display-6">TRADE-UP SHOW PAGE</h3>

         <h4 class="mt-4">Trade-Up</h4>
         <p class="lead text-justify">
            You can inspect every trade-up more precisely by pressing the “View trade-up” button. It will direct you on
            a site where you will be presented with:
         </p>


         <img class="my-4 img-fluid d-flex align-self-center" src="/assets/guide/show_page1.png"
            alt="Picture of the show page 1">

         <ul class="bullets lead">
            <li>All of the properties listed before </li>
            <li>Average float - arithmetic average of floats of all of the skins put in the trade-up.</li>
            <li>Input skins with the amount of them, picture, suggested float and price, which can be modified by hand.
            </li>
            <li>Output skins with all properties as input skins</li>
            <li>“Check trade” button will update properties of a trade-up if any changes were applied by hand</li>
            <li>The chart shows the value of a hypothetical account after conducting the trade-up a set amount of times.
            </li>
            <li>Alternative input skins that could be used in this trade-up.
               Note that it is an unchecked suggestion.
            </li>
         </ul>

         <p class="lead text-justify mt-4">
            Down below will be displayed several other significant details that you may like to use while conducting
            your trade-up. They willbe presented in 2 sections.
         </p>

         <ul class="bullets lead">

            <li>Alternative Input Skins</li>
            <li>Trading Simulation</li>

         </ul>


         <h4 class="mt-4">Alternative Input Skins</h4>
         <p class="lead text-justify">
            In the first part you will be granted with all possible skins that can replace certain ones in case they are
            cheaper than suggested ones or their volume is much higher so they are easier to get.
         </p>
         <img class="my-4 img-fluid d-flex align-self-center" src="/assets/guide/show_page2.png"
            alt="Picture of the show page 2">


         <h4 class="mt-4">Trading Simulation</h4>
         <p class="lead text-justify">
            In the second part we deliver the trading simulation thanks to which you will have a chance to simulate
            possible outputs for the exact number of trading transactions : 10, 50, 100, 200.
            Beware that Steam fee is automatically applied when the page loads so as to deactivate it you must "unclick"
            "Apply steam fee 13%" button.
         </p>
         <img class="my-4 img-fluid d-flex align-self-center" src="/assets/guide/show_page3.png"
            alt="Picture of the show page 3">

      </section>

      <section class="d-flex flex-column w-100 my-4 pt-3 pb-4">

         <h3 class="display-6 ">Step into the unknown</h3>
         <p class="lead text-justify">
            It is never easy to do something but it is often worth it. Dive right away into the world of trade-ups and
            become a new member of our society.
            If you managed to get throught this brief guide you can try yourself in the field of real trade-ups. We
            wish you good luck and many successes!

         </p>
         <a href="/explore" class="btn btn-success w-100 py-3 mb-5">
            LET'S GO TRADING!
         </a>

      </section>



   </main>