<% layout('layouts/boilerplate')%>



   <main>

      <section class="container">
         <ul>

            <% for(let highlightedTrade of highlights){ %>

               <% const tradeDetails=highlightedTrade.instance.trade; %>
                  <%-`
                     ${include('./partials/tradeTile',{elementName:'li',title:true,trade:highlightedTrade,details:tradeDetails,manageTrade:highlightedTrade.orginalTrade,showPageLink:'/trades/'+highlightedTrade.orginalTrade._id+''})}`%>


                     <% } %>

         </ul>
      </section>
   </main>



   <script src="/javascripts/axios.min.js"></script>
   <script src="/javascripts/addingDeletingFavAndHigh/favourites.js"></script>
   <script src="/javascripts/addingDeletingFavAndHigh/highlights.js"></script>
   <script src="/javascripts/libraries/vanillaTilt.min.js"></script>