<% layout('layouts/boilerplate')%>

   <link rel="stylesheet" href="/stylesheets/tradeTile.css">
   <link rel="stylesheet" href="/stylesheets/main.css">


   <header class="container mt-5">
      <h1 class="display-5">Kontrakciarze</h1>

      <section class="grid-1 mt-5">

         <a href='/trades?q=random' class="jeden">
            <span class="grid-1-content">Show A Random Trade</span>
            <img class="grid-1-content-bg" src="/assets/svgs/other/dice-solid.svg" alt="">
         </a>
         <a href='/favourites' class="dwa">
            <span class="grid-1-content">Favourites</span>
            <img class="grid-1-content-bg" src="/assets/svgs/other/star-half.svg" alt="">
         </a>
         <a href='/guide' class="trzy">
            <span class="grid-1-content">Guide - First Steps</span>
            <img class="grid-1-content-bg" src="/assets/svgs/other/info-circle-solid.svg" alt="">
         </a>
         <a href='/collaboration' class="cztery">
            <span class="grid-1-content">Collaboration</span>
            <img class="grid-1-content-bg" src="/assets/svgs/other/hands-helping-solid.svg" alt="">
         </a>
         <a href='/explore' class="piec">
            <span class="grid-1-content">Explore Our Engine</span>
            <img class="grid-1-content-bg" src="/assets/svgs/other/graph-up.svg" alt="">
         </a>

      </section>

   </header>

   <main class="container mt-5 pt-5">

      <section>
         <h1 class="d-flex flex-row display-5">Highlighted Trades&nbsp;
            <span class="badge bg-dark d-flex align-items-center">
               <img src="/assets/svgs/other/fire.svg" height="23" alt="Fire" class="me-1">
               <span>Hot</span>
            </span>
         </h1>
         <ul>

            <% for(let highlightedTrade of highlights){ %>

               <% const tradeDetails=highlightedTrade.instance.trade; %>
                  <%-`
                     ${include('./partials/tradeTile',{elementName:'li',title:true,trade:highlightedTrade,details:tradeDetails,manageTrade:highlightedTrade.orginalTrade,showPageLink:'/trades/'+highlightedTrade.orginalTrade._id+''})}`%>


                     <% } %>

         </ul>
      </section>

   </main>


   <div class="toast-container z-index-1000">


      <% if(success && success.length){ %>

         <%- include( './partials/toast.ejs' , { className:'toast-success', color:'#198754', title:'Congratulations!',
            content:success,time:'just now' }) %>

            <% } %>

               <% if(error && error.length){ %>

                  <%- include('./partials/toast.ejs',{ className:'toast-danger', color:'#dc3545', title:'Error',
                     content:error,time:'just now' }) %>

                     <% } %>
   </div>



   <script src=" /javascripts/addingDeletingFavAndHigh/favourites.js">
   </script>
   <script src="/javascripts/addingDeletingFavAndHigh/highlights.js"></script>
   <script src="/javascripts/libraries/vanillaTilt.min.js"></script>