<% layout('layouts/boilerplate')%>

   <link rel="stylesheet" href="/stylesheets/tradeTile.css">
   <link rel="stylesheet" href="/stylesheets/main.css">


   <header class="container mt-5">




      <h1 class="display-3" data-aos="flip-up">Kontrakciarze</h1>

      <p class="lead text-justify">
         Welcome to our trading platform. We hope you will enjoy it just as much as we do. We have prepared some
         amazing
         features and tips that are waiting for you. If you wish to hop straight into trade-ups pick either "Show A
         Random Trade" or "Explore Our Engine", however we would advise you to check out our "Guide - First Steps" at
         first so that you will be the most familiar with our techniques and methods!
      </p>
      <p class="lead text-justify">
         Until our platform is under continous development you can get a FREE PREMIUM ACCOUNT.
         <a class="link-dark" href="/about#premium">Learn how to get it here.</a>
      </p>
      <p class="lead">If you are not similar with our search trades engine it is advised to you to
         check our "Search
         Engine" guide.
         <a href="/guide#search-engine" class="link-dark">Click here to learn more.</a>
      </p>


      <section class="grid-1 mt-5">

         <a data-aos="flip-left" data-aos-delay="0" href='/trades?q=random' class="jeden grey-light_blue">
            <span class=" grid-1-content">Show A Random Trade</span>
            <img class="grid-1-content-bg" src="/assets/svgs/other/dice-solid.svg" alt="">
         </a>
         <a data-aos="flip-right" data-aos-delay="50" href='/favourites' class="dwa light_blue-blue">
            <span class="grid-1-content">Favourites</span>
            <img class="grid-1-content-bg" src="/assets/svgs/other/star-half.svg" alt="">
         </a>
         <a data-aos="flip-left" data-aos-delay="150" href='/guide' class="trzy blue-purple">
            <span class=" grid-1-content">Guide - First Steps</span>
            <img class="grid-1-content-bg" src="/assets/svgs/other/info-circle-solid.svg" alt="">
         </a>
         <a data-aos="flip-right" data-aos-delay="250" href='/about#collaboration' class="cztery purple-pink">
            <span class=" grid-1-content">Collaboration</span>
            <img class="grid-1-content-bg" src="/assets/svgs/other/hands-helping-solid.svg" alt="">
         </a>
         <a data-aos="flip-down" data-aos-delay="300" href='/explore' class="piec pink-red">
            <span class=" grid-1-content">Explore Our Engine</span>
            <img class="grid-1-content-bg" src="/assets/svgs/other/graph-up.svg" alt="">
         </a>

      </section>

   </header>

   <main class="container my-5 pt-5">

      <section>
         <h1 class="d-flex flex-row display-5">Highlighted Trades&nbsp;
            <span class="badge bg-dark d-flex align-items-center">
               <img src="/assets/svgs/other/fire.svg" height="23" alt="Fire" class="me-1">
               <span>Hot</span>
            </span>
         </h1>
         <% if (highlights) { %>
            <ul>
               <% let i=0;let directions=['right','left']; %>
                  <% for(let highlightedTrade of highlights){ %>
                     <% ++i; %>

                        <% const tradeDetails=highlightedTrade.instance.trade; %>
                           <%-` ${include('./partials/tradeTile',{
                              elementName:'li',title:true,trade:highlightedTrade,details:tradeDetails,
                              manageTrade:highlightedTrade.orginalTrade,
                              showPageLink:'/trades/'+highlightedTrade.orginalTrade._id, animationData:`data-tilt
                              data-tilt-max="1.2" data-tilt-speed="2000" data-aos="fade-${directions[i%2]}"
                              data-aos-duration="400" ` })}`%>


                              <% } %>

            </ul>
            <% } %>
      </section>

   </main>


   <div class="toast-container z-index-1000">


      <% if(success && success.length){ %>

         <%- include( ' ./partials/toast.ejs' , { className:'toast-success', color:'#198754', title:'Congratulations!',
            content:success,time:'just now' }) %>

            <% } %>

               <% if(error && error.length){ %>

                  <%- include('./partials/toast.ejs',{ className:'toast-danger', color:'#dc3545', title:'Error',
                     content:error,time:'just now' }) %>

                     <% } %>
   </div>




   <script src="/javascripts/addingDeletingFavAndHigh/favourites.js"></script>
   <script src="/javascripts/addingDeletingFavAndHigh/highlights.js"></script>

   <script src="/javascripts/libraries/vanillaTilt.min.js"></script>