<% layout('layouts/boilerplate')%>

   <section class="container mt-5">

      <h1 class="display-3">Our Policy</h1>

      <p class="lead">As a new aspiring platform we would like to present to you our key values that we are looking up
         to whole the time. If you happen to be unsure about anything or have any further questions please let us now.
         <a class="link-dark" href="/about#contact">Contact us!</a>
      </p>

      <ul class="bullets lead">

         <li>We ONLY use cookies that are connected to your account and session.</li>
         <li>There're NO THIRD PARTIES cookies that would do any harm.</li>
         <li>We focus on USER-FRIENDLY techniques.</li>
         <li>We aim at refreshing skins' prices and trades EVERY-DAY.</li>
         <li>We are OPEN TO ANY SUGGESTIONS and collaborations targeted at developing our platform.</li>
      </ul>

   </section>