<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Trades</title>
   <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
   <style type="text/css">
      html {
         min-height: 100vh;
         height: 100%;
         width: 100%;
      }

      body {

         background-image: url('/assets/Circuit Board.svg');
         background-size: cover;
      }
   </style>
</head>

<body>
   <div class="container d-flex flex-column">
      <div class="mb-4">
         <h1 class="mt-4">Trade'y</h1>
         <a class="btn btn-primary mt-2" href="/skins">Wróć do strony skinów</a>
      </div>

      <p class="lead">
         <!-- profitable['FractureCase'].blue.lowestData.name  -->
      </p>

   </div>


   <!-- <script src="./javascripts/popper.min.js"></script>
   <script src="./javascripts/bootstrap.min.js"></script> -->

   <!-- <script src="./javascripts/index.js"></script> -->
   <script src="/javascripts/popper.min.js"></script>
   <script src="/javascripts/bootstrap.min.js"></script>

   <script src="/javascripts/index.js"></script>
</body>

</html>