* {
   box-sizing: border-box !important;
}

html {
   min-height: 100vh;
   height: 100%;
   width: 100%;
}

body {
   min-height: 100vh;
   height:100%;
   display: flex;
   flex-direction: column;
   flex: 1;
   background-color: var(--body-bg);

}

 .navbarSpace{ 
    width: 100% ;
    padding-top: 61px;
 }
 
.crosshair {
	cursor: crosshair;
}

.star ,.highlight-btn,.magnifier{
   background-color: white;
   border-radius: 10px;
   display: flex;
   height:34px !important;
   width: 34px !important;
   justify-content: center;
   align-items: center;
   position: relative;
   border: none;
}

.star svg{
   position: absolute;
   height: 20px;
   width: 20px;
   color: goldenrod;
}

.hide {
   display: none !important;
}

.bg-white {
   background-color: white !important;
}

 
 
li {
   list-style-type: none;
}

 
ul {
   padding: 0;
}
 

.text-justify{text-align: justify;}


.inputPrice {
   font-weight: 500;
}
  

 



/* #####################################     FOOTER     ###################################### */

footer{
   margin-top: 80px;
   font-size: 17px;
   display: flex;
   z-index: 500 !important;
   width:100%;
   justify-content: space-between;
   align-items: center;   
   

   background-color: var(--footer-bg);
   

   min-height:40px;
   
   padding: 0px 100px 0;
}

/* #####################################     NAVBAR     ###################################### */

a.steamLink{
   background-image: url('../assets/social/steamLink.png');
   width:180px;
   height: 35px;
}

nav#navbar{
   z-index: 1000;
   font-size: 17px;
   display: flex; 
   width:100%;
   justify-content: space-between;
   align-items: center;   
   
   background-color: var(--nav-navbar-bg);
   padding: 8px 20px;
   
   
   box-shadow: 0px 9px 50px 20px rgba(1,42,74,0.2);
}

nav#navbar a {
   display: flex;
   color:rgba(255, 255, 255, 0.85);
   margin-top: 10px;
   padding-bottom: 10px;
   text-decoration: none;
   /* border-bottom: 2px solid rgb(156, 156, 156); */
   
   transition: color .1s ease-in-out;
}

nav#navbar li{
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

nav#navbar li:nth-of-type(2n+1){
   background-color: rgba(255, 255, 255, 0.1);
}

nav#navbar ul.navbar-nav{
   width:100%;
}





@media(min-width:768px){
   nav#navbar li:nth-of-type(n){
      background-color: transparent;
      justify-content: center;
   }

   .border-md-log{ 
      border:2px solid white !important;
   } 
   
}




nav#navbar a.navbar-brand{
   
   margin-top: 0px; 
   margin-bottom: 0px;
   padding-bottom: 0px;
}


nav#navbar a:hover,nav#navbar a.navbar-brand{
   color:white !important;
}



#menuToggle
{
  position: relative;
  
  z-index: 1;
  
   /* -webkit-user-select: none;
   user-select: none; */
}




#menuToggle input
{
   position: absolute;
  display: block;
  width: 57px;
  height: 39px;
  top: 0px;
  right: 0px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
   transform: translate(-12px,0);
  /* -webkit-touch-callout: none;    */
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform: 4px 0px;
  
  transition: transform 0.3s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.3s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.3s ease;
}

#menuToggle span:first-child
{
  transform: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform:translate(0px, -8px) rotate(45deg) ;
  /* background: #232323; */
  background: rgb(156, 156, 156);
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: translate(0px,10px) rotate(95deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform:translate(0, 0px) rotate(-45deg) ;
}



nav#settings{
   display: flex;
   z-index: 1000;
   width:100%;
   height:27px !important;
   padding:2px 2px 2px 2px;

   background-color: var(--nav-settings-bg);
}
nav#settings select{
   cursor:pointer;
}

.nav-settings-item{
   display: flex;
   box-sizing: border-box !important;
   
   padding:0px 8px 0 5px;
   /* margin-left: 10px; */
   font-size: 0.95rem;
}

.icons{
   display: flex;
   justify-self: center;
   align-self: center;
   z-index: 100;
   margin-left: 5px;
   width:22px;
   height: 22px;
}

.social-steam-icon{
   background-image: url('../assets/social/steam.png');
   background-size: contain;
}


/* ################################## TOASTS ################################# */




.toast-container{
   position: fixed;
   top:min(100px,40%);
   right: 10px;
}









/* #####################################     FLEX     ###################################### */

.flex-1{flex:1;}
.flex-2{flex:2;}
.flex-3{flex:3;}
.flex-4{flex:4;}
.flex-5{flex:5;}
.flex-6{flex:6;}
.flex-7{flex:7;}
.flex-8{flex:8;}
.flex-9{flex:9;}
.flex-10{flex:10;}
.flex-11{flex:11;}
.flex-12{flex:12;}

.z-index-1000{z-index: 1000;}
.justify-self-start{justify-self: flex-start !important;}
.justify-self-end{justify-self: flex-end !important;}
.justify-self-center{justify-self: center !important;}
.justify-self-baseline{justify-self: baseline !important;}

.pt-10{padding-top:6rem!important}

/* #####################################    GRADIENS && COLORS     ###################################### */

.red{
   background-color: #eb4b4b;
}

.pink{
   background-color: #d32ee6;
}

.purple{
   background-color: #8847ff;
}

.blue{
   background-color: #4b69ff;   
}
.light_blue{
   background-color: #5e98d9;   
}
.grey{
   background-color: #b0c3d9;   
}



.grey-light_blue{
   background-image: linear-gradient(90deg,#b0c3d9 0%, #5e98d9 100%);
}
.light_blue-blue{
   background-image: linear-gradient(90deg,#5e98d9 0%,#4b69ff 100%);
}
.blue-purple{
   background-image: linear-gradient(90deg,#4b69ff 0%,#8847ff 100%);
}
.purple-pink{
   background-image: linear-gradient(90deg,#8847ff 0%,#d32ee6 100%);
}
.pink-red{
   background-image: linear-gradient(90deg,#d32ee6 0%,#eb4b4b 100%);
}





/* #####################################     HOT TRADES     ###################################### */

.no-underline{
   text-decoration: none;
}

.width-fit-content{
   width: fit-content;
}


.bg-blur{
   z-index: 1000;
   background-color: rgba(0, 0, 0, 0.6);
   -webkit-box-shadow: inset 0px 0px 15px 5px rgba(0,0,0,0.6); 
   box-shadow: inset 0px 0px 15px 5px rgba(0,0,0,0.6);
}

.display-5{font-size:calc(1.425rem + 1.5vw);}
 


