@font-face {
   font-family: 'LibreFranklin';
   src: url('../fonts/LibreFranklin-VariableFont_wght.ttf');
}
@font-face {
   font-family: 'Mulish';
   src: url('../fonts/Mulish-VariableFont_wght.ttf');
}
@font-face {
   font-family: 'Raleway';
   src: url('../fonts/Raleway-VariableFont_wght.ttf');
}
@font-face {
   font-family: 'QucikSand';
   src: url('../fonts/Quicksand-VariableFont_wght.ttf');
}
@font-face {
   font-family: 'Caveat';
   src: url('../fonts/Caveat-VariableFont_wght.ttf');
}
.f-caveat{font-family: 'Caveat', serif !important; }

* {
   box-sizing: border-box !important;
}

html {
 
   width: 100%;
 
}

body {
   /* font-family: 'LibreFranklin', serif; */
   /* font-family: 'Mulish', serif; */
   /* font-family: 'Raleway', serif; */
   font-family: 'QucikSand', serif;
   /* font-family: 'Caveat', serif; */

   overflow-x: hidden;

   min-height: 100vh;
   height:100%;

   display: flex;
   flex-direction: column;
   flex: 1;
   background-color: var(--body-bg);
   background-image: url('../assets/background/glamorous.svg');
}
 

 
 
.crosshair {
	cursor: crosshair;
}
.pointer{
   cursor:pointer;
}
 

.star ,.highlight-btn, .trash{
   background-color: white;
   border-radius: 10px;
   display: flex;
   height:34px !important;
   width: 34px !important;
   justify-content: center;
   align-items: center;
   position: relative;
   border: none;
}

.star svg{
   position: absolute;
   height: 20px;
   width: 20px;
   color: goldenrod;
}

.trash svg{
   position: relative;
   
   margin-bottom: 1px;
   height: 20px;
   width: 20px;
   color: steelblue;
}

.hide {
   display: none !important;
}

.bg-white {
   background-color: white !important;
}



 
 
ul:not(.bullets) {
   list-style-type: none;
   padding: 0;
}

 
 
 
 

.text-justify{text-align: justify;}


.inputPrice {
   font-weight: 500;
}
  

 



/* #####################################     FOOTER     ###################################### */

footer{
   margin-top: 80px;
   background-color: var(--footer-bg); 
}

.bg-footer-feature{
   background-color: var(--footer-feature-bg); 

}

/* #####################################     NAVBAR     ###################################### */

a.steamLink{
   background-image: url('../assets/social/steamLink.png');
   width:180px;
   height: 35px;
   position: relative;
  
}

a.steamLink:after{
   content:'';
   position: absolute;
   width:100%;
   height: 100%; 
   
   transition: background-color .15s ease-in-out;
}

a.steamLink:hover:after{
   background-color:rgba(33,33,33,0.3);  
}

nav#navbar{
   z-index: 1000;
   font-size: 17px;
   display: flex; 
   width:100%;
   justify-content: space-between;
   align-items: center;   
   
   background-color: var(--nav-navbar-bg);
   padding: 8px 20px;
   
   
   /* box-shadow: 0px 9px 50px 20px rgba(1,42,74,0.2); */
}

nav#navbar a {
   display: flex;
   color:rgba(255, 255, 255, 0.85);
   margin-top: 10px;
   padding-bottom: 10px;
   text-decoration: none;
   /* border-bottom: 2px solid rgb(156, 156, 156); */
   
   transition: color .1s ease-in-out;
}

nav#navbar li{
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

nav#navbar li:nth-of-type(2n+1){
   background-color: rgba(255, 255, 255, 0.1);
}

nav#navbar ul.navbar-nav{
   width:100%;
}





@media(min-width:768px){
   nav#navbar li:nth-of-type(n){
      background-color: transparent;
      justify-content: center;
   }

   .border-md-log{ 
      border:2px solid white !important;
   } 
   
}




nav#navbar a.navbar-brand{
   
   margin-top: 0px; 
   margin-bottom: 0px;
   padding-bottom: 0px;
}


nav#navbar a:hover,nav#navbar a.navbar-brand{
   color:white !important;
}



#menuToggle
{
  position: relative;
  
  z-index: 1;
  
   /* -webkit-user-select: none;
   user-select: none; */
}




#menuToggle input
{
   position: absolute;
  display: block;
  width: 57px;
  height: 39px;
  top: 0px;
  right: 0px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
   transform: translate(-12px,0);
  /* -webkit-touch-callout: none;    */
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform: 4px 0px;
  
  transition: transform 0.3s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.3s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.3s ease;
}

#menuToggle span:first-child
{
  transform: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform:translate(0px, -8px) rotate(45deg) ;
  /* background: #232323; */
  background: rgb(156, 156, 156);
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: translate(0px,10px) rotate(95deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform:translate(0, 0px) rotate(-45deg) ;
}



nav#settings{
   display: flex; 
   z-index: 1001;
   width:100%;
   height:30px !important;
   padding:2px 2px 2px 2px;

   background-color: var(--nav-settings-bg);
}
nav#settings select{
   cursor:pointer; 
   line-height: 1;
   padding-top: 0;
   padding-bottom: 0;
   width:auto !important; 
 
}

nav#settings select option{
   cursor:pointer;    
}




.custom-select-wrapper {
   box-sizing: border-box;
   position: relative;
   user-select: none;
   width:125px;
}
.custom-select {
   position: relative;
   display: flex;
   flex-direction: column;
   /* border-width: 0 2px 0 2px;
   border-style: solid;
   border-color: #394a6d;  */
}
.custom-select__trigger {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 3px 10px;
   font-size: 16px;
   font-weight: 300;
   color: #3b3b3b;
   height:100%;
   line-height:100%;
   background: #ffffff;
   cursor: pointer;
   /* border-width: 2px 0 2px 0;
   border-style: solid;
   border-color: #394a6d; */
}
.custom-options {
   position: absolute;
   display: block;
   top: 100%;
   left: 0;
   right: 0;
   /* border: 2px solid #394a6d;
   border-top: 0; */
   background: #fff;  
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
   z-index: 2;

   max-height: 50vh;
   overflow-y: auto;
   overscroll-behavior: contain;
}

.opacity-1{opacity: 1;}

.custom-select.open .custom-options {
   opacity: 1;
   visibility: visible;
   pointer-events: all;
   transition:opacity .15s cubic-bezier(0.25, 0.46, 0.45, 0.94);
 

}
.custom-option {

   position: relative;
   display: block;
   padding: 5px 10px;
   font-size: inherit;
   font-weight: 300;
   color: #3b3b3b;
   line-height:100%;
   cursor: pointer;
   transition:
            opacity .15s cubic-bezier(0.25, 0.46, 0.45, 0.94),
            background-color .15s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.custom-option:hover {
   cursor: pointer;
   background-color: #b2b2b2;
}
.custom-option.selected {
   color: #ffffff;
   background-color: #305c91;
}
.arrow {
   position: relative;
   height:10px;
   width:10px; 
}
.arrow::before, .arrow::after {
   content: "";
   position: absolute;
   bottom: 0px;
   width: 0.12rem;
   height:100%;
   transition:all .15s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.arrow::before {
   left: -3.5px;
   transform: rotate(45deg);
   background-color: #394a6d;
}
.arrow::after {
   left: 3.5px;
   transform: rotate(-45deg);
   background-color: #394a6d;
}
.open .arrow::before {
   left: -3.5px;
   transform: rotate(-45deg);
}
.open .arrow::after {
   left: 3.5px;
   transform: rotate(45deg);
}






 


/* width */
.slim-scrollbar::-webkit-scrollbar {
   width: 10px;
 }
 
 /* Track */
 .slim-scrollbar::-webkit-scrollbar-track {
   background: #f1f1f1;
 }
 
 /* Handle */
 .slim-scrollbar::-webkit-scrollbar-thumb {
   background: #888;
 }
 
 /* Handle on hover */
 .slim-scrollbar::-webkit-scrollbar-thumb:hover {
   background: #555;
 }
 .scrollbar-body::-webkit-scrollbar-thumb {
   background: var(--hero-color-dark);
 }
 
 /* Handle on hover */
 .scrollbar-body::-webkit-scrollbar-thumb:hover {
   background:var(--hero-color-super-dark);
 }



.nav-settings-item{
   display: flex;    
   width:max-content !important;
   padding:0px 8px 0 5px; 
   font-size: 0.95rem;
}

.icons{
   display: flex;
   justify-self: center;
   align-self: center;
   z-index: 100;
   margin-left: 5px;
   width:22px ;
   height: 22px ;
}

 .w-max-content{width: max-content !important;}
.no-wrap{flex-wrap: nowrap !important;word-wrap:none ;}
/* ################################## TOASTS ################################# */




.toast-container{
   position: fixed;
   top:min(100px,40%);
   right: 10px;
}




 



/* #####################################     FLEX & BOOTSTRAP PATCHES     ###################################### */

.right-0{right:0;}
.left-0{right:0;}
 
.flex-1{flex:1;}
.flex-2{flex:2;}
.flex-3{flex:3;}
.flex-4{flex:4;}
.flex-5{flex:5;}
.flex-6{flex:6;}
.flex-7{flex:7;}
.flex-8{flex:8;}
.flex-9{flex:9;}
.flex-10{flex:10;}
.flex-11{flex:11;}
.flex-12{flex:12;}

.order-1{order: 1;}
.order-2{order: 2;}
.order-3{order: 3;}
.order-4{order: 4;}

.z-index-1000{z-index: 1000;}
.justify-self-start{justify-self: flex-start !important;}
.justify-self-end{justify-self: flex-end !important;}
.justify-self-center{justify-self: center !important;}
.justify-self-baseline{justify-self: baseline !important;}


.pt-10{padding-top:6rem! important;}
.pb-10{padding-bottom:6rem! important;}
.py-10{padding-top:6rem! important;padding-bottom:6rem! important;}
.py-15{padding-top:9rem! important;padding-bottom:9rem! important;}
.pt-15{padding-top:9rem! important; }
.pb-15{ padding-bottom:9rem! important;}
.pt-25{padding-top:15rem! important;}
.pb-25{padding-bottom:15rem! important;}
.py-25{padding-bottom:15rem! important;padding-top:15rem! important;}
.p-10{padding:6rem! important;}


@media (min-width: 576px) { 
.pt-sm-10{padding-top:6rem! important;}
.pb-sm-10{padding-bottom:6rem! important;}
.py-sm-10{padding-top:6rem! important;padding-bottom:6rem! important;}
.py-sm-15{padding-top:9rem! important;padding-bottom:9rem! important;}
.pt-sm-15{padding-top:9rem! important; }
.pb-sm-15{ padding-bottom:9rem! important;}
.pt-sm-25{padding-top:15rem! important;}
.pb-sm-25{padding-bottom:15rem! important;}
.py-sm-25{padding-bottom:15rem! important;padding-top:15rem! important;}
.p-sm-10{padding:6rem! important;} }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
   .pt-md-10{padding-top:6rem! important;}
.pb-md-10{padding-bottom:6rem! important;}
.py-md-10{padding-top:6rem! important;padding-bottom:6rem! important;}
.py-md-15{padding-top:9rem! important;padding-bottom:9rem! important;}
.pt-md-15{padding-top:9rem! important; }
.pb-md-15{ padding-bottom:9rem! important;}
.pt-md-25{padding-top:15rem! important;}
.pb-md-25{padding-bottom:15rem! important;}
.py-md-25{padding-bottom:15rem! important;padding-top:15rem! important;}
.p-md-10{padding:6rem! important;} }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { .pt-sm-10{padding-top:6rem! important;}
.pb-lg-10{padding-bottom:6rem! important;}
.py-lg-10{padding-top:6rem! important;padding-bottom:6rem! important;}
.py-lg-15{padding-top:9rem! important;padding-bottom:9rem! important;}
.pt-lg-15{padding-top:9rem! important; }
.pb-lg-15{ padding-bottom:9rem! important;}
.pt-lg-25{padding-top:15rem! important;}
.pb-lg-25{padding-bottom:15rem! important;}
.py-lg-25{padding-bottom:15rem! important;padding-top:15rem! important;}
.p-lg-10{padding:6rem! important;} }

 

.mx-auto{margin-left: auto !important;margin-right: auto !important;}


/* #####################################    GRADIENS && COLORS     ###################################### */

.bg-success-muted{background-color: #257c54cb !important;}
.text-light-white{color:var(--text-light-white);}
.bg-purple{background-color: var(--purple) !important;}
.bg-dark-purple{background-color: var(--dark-purple) !important;}
.bg-light-purple{background-color: var(--light-purple) !important;}






.red{
   background-color: rgb(235, 75, 75,0.75) !important;
}

.pink{
   background-color: rgb(211, 46, 230,0.75) !important;
}

.purple{
   background-color: rgb(136, 71, 255,0.75) !important;
}

.blue{
   background-color: rgb(75, 105, 255,0.75) !important;   
}
.light_blue{
   background-color: rgb(94, 152, 217,0.75) !important;   
}
.grey{
   background-color: rgb(176, 195, 217,0.75) !important;   
}



.grey-light_blue{
   background-image: linear-gradient(90deg,rgb(176, 195, 217) 0%, rgb(94, 152, 217) 100%);background-repeat: no-repeat;
}
.light_blue-blue{
   background-image: linear-gradient(90deg,rgb(94, 152, 217) 0%,rgb(75, 105, 255) 100%);background-repeat: no-repeat;
}
.blue-purple{
   background-image: linear-gradient(90deg,rgb(75, 105, 255) 0%,rgb(136, 71, 255) 100%);background-repeat: no-repeat;
}
.purple-pink{
   background-image: linear-gradient(90deg,rgb(136, 71, 255) 0%,rgb(211, 46, 230) 100%);background-repeat: no-repeat;
}
.pink-red{
   background-image: linear-gradient(90deg,rgb(212, 45, 230) 0%,rgb(235, 75, 75) 100%);background-repeat: no-repeat;
} 
.red-gold{ 
   background-image: linear-gradient(90deg,rgb(235, 75, 75,1) 0%, rgba(255, 215, 0,1) 100%);
}




.grey-light_blue-rarity{ position:relative;background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2))}
.light_blue-blue-rarity{ position:relative;background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2))}
.blue-purple-rarity{ position:relative;background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2))}
.purple-pink-rarity{ position:relative;background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2))}
.pink-red-rarity{ position:relative;background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2))} 
.grey-light_blue-rarity:after{position:absolute;top:0;left:0;height:100%;width:100%;content:''; background-image: url("../assets/svgs/other/chevron-right-solid.svg");background-size: 90px 24px;  }
.light_blue-blue-rarity:after{position:absolute;top:0;left:0;height:100%;width:100%;content:''; background-image: url("../assets/svgs/other/chevron-right-solid.svg");background-size: 90px 24px;  }
.blue-purple-rarity:after{position:absolute;top:0;left:0;height:100%;width:100%;content:''; background-image: url("../assets/svgs/other/chevron-right-solid.svg");background-size: 90px 24px;  }
.purple-pink-rarity:after{position:absolute;top:0;left:0;height:100%;width:100%;content:''; background-image: url("../assets/svgs/other/chevron-right-solid.svg");background-size: 90px 24px;  }
.pink-red-rarity:after{position:absolute;top:0;left:0;height:100%;width:100%;content:''; background-image: url("../assets/svgs/other/chevron-right-solid.svg");background-size: 90px 24px; }  

.grey-light_blue-pastell{
   background-image: linear-gradient(90deg,rgb(176, 195, 217,0.75) 0%, rgb(94, 152, 217,0.75) 100%);
}
.light_blue-blue-pastell{
   background-image: linear-gradient(90deg,rgb(94, 152, 217,0.75) 0%,rgb(75, 105, 255,0.75) 100%);
}
.blue-purple-pastell{
   background-image: linear-gradient(90deg,rgb(75, 105, 255,0.75) 0%,rgb(136, 71, 255,0.75) 100%);
}
.purple-pink-pastell{
   background-image: linear-gradient(90deg,rgb(136, 71, 255,0.75) 0%,rgb(211, 46, 230,0.75) 100%);
}
.pink-red-pastell{
   background-image: linear-gradient(90deg,rgb(212, 45, 230,0.75) 0%,rgb(235, 75, 75,0.75) 100%);
}
.red-gold-pastell{ 
   background-image: linear-gradient(90deg,rgb(235, 75, 75,0.75) 0%, rgba(255, 215, 0,0.75) 100%);
}



/* #####################################     HOT TRADES     ###################################### */

.no-underline{
   text-decoration: none;
}

.width-fit-content{
   width: fit-content;
}


.bg-blur{
   z-index: 1000;
   background-color: rgba(0, 0, 0, 0.6);
   -webkit-box-shadow: inset 0px 0px 15px 5px rgba(0,0,0,0.6); 
   box-shadow: inset 0px 0px 15px 5px rgba(0,0,0,0.6);
}

.display-5{font-size:calc(1.425rem + 1.5vw);}
 
.shake{
   -webkit-animation-name: shake;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}
@-webkit-keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }