* {
   box-sizing: border-box !important;
}

html {
   min-height: 100vh;
   height: 100%;
   width: 100%;
}

body {
   min-height: 100vh;
   height:auto;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   /* background-color:rgba(110, 169, 218, 0.966); */
   background-image: url('../assets/background/Circuit\ Board.svg');
   /* background-image: linear-gradient(rgba(31, 58, 99, 0.35), rgba(31, 58, 99, 0.35)),url('../assets/background/mulyadi-TyjFLWdZris-unsplash.jpg'); */
   background-size: cover;
   /* background from https://www.flickr.com/photos/leenda_k/ */
}

h1 {
   display: flex;
   width: fit-content;
}

h5 {
   font-weight: 400;
}

h6 {
   font-weight: 700;
}


#displayFloat {
   display: flex;
   flex: 1;
   justify-content: center;
   align-items: center;

}

input.stattrak,input.stattrak:focus{
   color:goldenrod;
}

div.stattrak{
   display: flex;
   justify-content: center;
   align-items: center;
   width: fit-content;
   border-radius: 5px;
   padding:7px;
   background-color:goldenrod;
   color:white;
   cursor: pointer;

   transition: 0.07s ease-in-out;
}

div.stattrak:hover{
   background-color:rgb(173, 132, 27);
}

.crosshair {
	cursor: crosshair;
}

.star ,.highlight-btn{
   background-color: white;
   border-radius: 10px;
   display: flex;
   height:34px !important;
   width: 34px !important;
   justify-content: center;
   align-items: center;
   position: relative;
   border: none;
}

.star svg{
   position: absolute;
   height: 20px;
   width: 20px;
   color: goldenrod;
}

.hide {
   display: none !important;
}

.bg-white {
   background-color: white !important;
}

.csgo-logo {
   background-image: url('/assets/csgo_logo.png');
   background-size: contain;
   background-repeat: no-repeat;
   /* height: 144px;
   width: 600px; */
   flex: 1;
}

hr[role="tournament6"] {
   border: 0px solid;
   height: 1px;
   background-color: rgb(122, 179, 212);
   /* background-image: linear-gradient(to right, rgb(157, 60, 49), var(--sweet-brown), rgb(157, 60, 49)); */
   margin: 32px 0px;
   display: block;
}

hr[role="tournament6"]::before {
   position: absolute;
   background-color: #f7ece2e0;
   border: 1px solid;
   border-color: var(--sweet-brown);
   padding: 10px;
   transform: rotate(45deg);
   left: 50%;
   margin: -10px 0px 0px -22px;
   content: "";
}

li {
   list-style-type: none;
}

a.skin {
   font-weight: 400;
   font-size: 20px;
   cursor: pointer;
   text-decoration: none;

   transition: transform 0.1s ease-in-out;
}

a.skin:hover {
   transform: scale(1.03);
}

ul {
   padding: 0;
}

li.trade {
   padding: 10px;
   list-style: none;
}



.border {
   border: 1px solid black;
}

.stats {
   font-weight: 300;

}

.stats .data {
   font-size: 30px;

}

.inputPrice {
   font-weight: 500;
}

.bg-grey {
   background-color: rgb(159, 159, 159);
}

.bg-lightblue {
   background-color: rgba(154, 193, 251, 0.8);
}

.bg-blue {
   background-color: rgb(127, 186, 253);
}

.bg-purple {
   background-color: rgb(180, 123, 255);
}

.bg-pink {
   background-color: rgba(255, 207, 237, 0.667);
}

.arrow {
   width: 40px !important;
   height: 40px !important;
   background-image: url('/assets/arrow.svg');
   background-repeat: no-repeat;
   background-size: cover;
}

.height-100 {
   height: 100%;
}

.link-dark {
   text-decoration: none;
}





/* #####################################     NEW     ###################################### */

footer{
   margin-top: 70px;
   font-size: 17px;
   display: flex;
   z-index: 500 !important;
   width:100%;
   justify-content: space-between;
   align-items: center;   
   

   background-color: rgb(16, 47, 94);
   

   min-height:40px;
   
   padding: 0px 100px 0;
}

nav#navbar{
   z-index: 1000;
   font-size: 17px;
   display: flex;
   z-index: 500 !important;
   width:100%;
   justify-content: space-between;
   align-items: center;   
   

   background-color: rgb(16, 47, 94);
   border-bottom: 1px solid rgb(0, 27, 68);
   

   min-height:60px;
   
   padding: 0px 100px 0;
}

nav#navbar a{
   display: flex;
   color:rgba(255, 255, 255, 0.85);
   margin-top: 10px;
   padding-bottom: 10px;
   text-decoration: none;
   border-bottom: 2px solid rgb(156, 156, 156);

   transition: color .1s ease-in-out;
}




@media(min-width:768px){
   nav#navbar a,nav#navbar a:first-of-type{
      margin-top: 0 !important;
      padding-bottom: 0px;
      border-bottom: none;
   }
   nav#navbar a:last-of-type{
      margin-bottom: 0px;
   }
}

nav#navbar a.navbar-brand{
   /* color:rgba(255, 255, 255, 0.85) !important; */
   margin-top: 0px; 
   margin-bottom: 0px;
   padding-bottom: 0px;
   border-bottom:none;
}

nav#navbar .navbar-collapse{
   transition: all 0.17s ease-out;
}

nav#navbar a:hover,nav#navbar a.navbar-brand{
   color:white !important;
}

#menuToggle
{
  position: relative;
  
  z-index: 1;
  
   /* -webkit-user-select: none;
   user-select: none; */
}




#menuToggle input
{
   position: absolute;
  display: block;
  width: 57px;
  height: 39px;
  top: 0px;
  right: 0px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
   transform: translate(-12px,0);
  /* -webkit-touch-callout: none;    */
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform:translate(0px, -8px) rotate(45deg) ;
  /* background: #232323; */
  background: rgb(156, 156, 156);
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: translate(0px,40px) rotate(135deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform:translate(0, 0px) rotate(-45deg) ;
}


/* #####################################     FLEX     ###################################### */

.flex-1{flex:1;}
.flex-2{flex:2;}
.flex-3{flex:3;}
.flex-4{flex:4;}
.flex-5{flex:5;}
.flex-6{flex:6;}
.flex-7{flex:7;}
.flex-8{flex:8;}
.flex-9{flex:9;}
.flex-10{flex:10;}
.flex-11{flex:11;}
.flex-12{flex:12;}

/* #####################################     USER     ###################################### */

.user-icon{
   padding:0;
   margin:0;
   /* background-image: url('../assets/user-circle-solid.svg');
   background-size: cover;
   background-repeat: no-repeat; */
   
   width:25px !important;
   height: 25px !important;
}

/* #####################################     HOT TRADES     ###################################### */



.case-collection-container{
   opacity:0.87;
   transition: opacity 0.1s ease-in-out;
   cursor: pointer;
}

.case-collection-container:hover{opacity: 1;}

.img-collection-case{
   width:120px;
   height:120px;
   position: relative;

}
.skin-number{
   display: flex;
   position: absolute;
   width:25px;
   height:25px;

   left:110px;top:80px;
   transform: scale(0.75);


   justify-content: center;
   align-items: center;
   background-color: rgb(0, 27, 68);
   color:white;
   border-radius: 8px;
}



.rarity-info div{
   display: flex;
   justify-content: center;
   align-items: center;
   
   width:100%;
   color:white;

   background-image: url('../assets/svgs/other/chevron-right-solid.svg');
   background-size: 20px;

   font-size: 1.2rem;
}

.covert{
   background-color: #eb4b4b;
}

.classified{
   background-color: #d32ee6;
}

.restricted{
   background-color: #8847ff;
}

.blue{
   background-color: #4b69ff;   
}
.light_blue{
   background-color: #5e98d9;   
}
.grey{
   background-color: #b0c3d9;   
}

.pink-red{
    background-image: linear-gradient(90deg,#d32ee6 0%,#eb4b4b 100%);
}
.purple-pink{
    background-image: linear-gradient(90deg,#8847ff 0%,#d32ee6 100%);
}
.blue-purple{
    background-image: linear-gradient(90deg,#4b69ff 0%,#8847ff 100%);
}
.light_blue-blue{
    background-image: linear-gradient(90deg,#5e98d9 0%,#4b69ff 100%);
}
.grey-light_blue{
    background-image: linear-gradient(90deg,#b0c3d9 0%, #5e98d9 100%);
}

.plus{
   width:20px;
   height:20px;
}



.vertical-hr{
   
   align-self: center;
   margin:0 25px;
   width:3px;
   border-radius: 2px;
   height: 120px;

   background-color: grey;
}

.statistics .figures h5,.statistics .figures img,.statistics .description p{
   display: flex;
   /* height:30px; */
   justify-content: center; /* lewo-prawo */
   align-items: center; /* góra-dół */
}

/* .statistics .figures{
   align-items: flex-end;
} */

.average-profit,.trade-cost,.rarity{
   display:flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(69, 180, 69, 0.932);
   color:white;
   
   padding: 10px 0;
   cursor: pointer;
   
   transition: background-color 0.1s ease-in-out;
}

.rarity{
   width:100%;
   padding:0;
   border-bottom-left-radius: 50px;
   border-bottom-right-radius: 50px;
}

.average-profit h5,.average-profit p,.trade-cost h5,.trade-cost p{
   font-size: 24px;
   font-weight: 300;
}


.trade-cost{
   background-color: rgba(179, 54, 54, 0.932);
}

.trade-cost:hover{
   background-color: rgba(145, 53, 41, 0.932);
}

.average-profit:hover{
   background-color: rgba(45, 119, 45, 0.932);
}

.width-fit-content{
   width: fit-content;
}

nav#settings{
   display: flex;
   z-index: 1000;
   width:100%;
   height:27px !important;
   padding:2px 2px 2px 2px;

   background-color: rgb(0, 25, 78);
}
nav#settings select{
   cursor:pointer;
}

.nav-settings-item{
   display: flex;
   box-sizing: border-box !important;
   
   padding:0px 8px 0 5px;
   /* margin-left: 10px; */
   font-size: 0.95rem;
}

.steam-icon{
   display: flex;
   justify-self: center;
   align-self: center;
   z-index: 100;
   margin-left: 5px;
   background-image: url('../assets/social/steam.png');
   background-size: contain;
   width:22px;
   height: 22px;
}

.highlight-home-page{
   background-color: rgb(181, 225, 255);
   border:2px solid white;
}

.bg-blur{
   z-index: 1000;
   background-color: rgba(0, 0, 0, 0.6);
   -webkit-box-shadow: inset 0px 0px 15px 5px rgba(0,0,0,0.6); 
box-shadow: inset 0px 0px 15px 5px rgba(0,0,0,0.6);
}

.display-5{font-size:calc(1.425rem + 1.5vw)};