/* button#settings{
   border: none;
   background-color: transparent;
}

#sidebar{
   min-height: 450px;
   height: 100%;

   background-color: var(--nav-navbar-bg);
   transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

#sidebar.sidebar-hidden{
   transform: translate3d(-100%,0,0);
}

#popUpSidebar{
   top:10vh; 
}

a.opacity-085{opacity:0.85 ;} 
a.opacity-hover-1:hover{opacity:1 !important;}
a.active-link.opacity-085{opacity: 1 !important;}
a.active-link{
   color: black;
   background-color: white !important;

}
a.active-link:hover{color:black;} */




.lift-on-hover{transition:all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);}
.lift-on-hover:hover{transform:translate3d(0,-7px,0);}

h1{text-shadow: 0px 2px 6px rgba(0,0,0,0.35);}
h1,h2,h3{color:var(--title-color) !important;text-transform: capitalize;}
h4,h5,p,li,div.lead{color:var(--text-color) !important;text-align: justify !important;} 
 
label:not(.text-dark){color:white !important;}
h3.popover-header,.error p,.skin-card label ,.modal h5,.modal li,h5.card-title.new-highlight{color:black !important}


.enticing-svg{
   position: absolute;
   display:none;
   height:150px;
   width: 150px;
   top:0;


   right:0;
   transform: translate3d(0,-50%,0);
}


.box-shadow-inset{
   /* background-color: rgba(8, 8, 8, 0.03); */
   -webkit-box-shadow: inset 0px 0px 15px -6px rgba(8, 8, 8, 0.45) !important; 
   box-shadow: inset 0px 0px 15px -6px rgba(8, 8, 8, 0.45) !important;
}


#cookies-notification{ 
   font-size: 14px;
   background-color: rgba(20,20,20,0.9);  
}


#filter-form{ 
   
   background: rgb(53,241,56);
   background: linear-gradient(90deg, rgba(53,241,56,0.4990371148459384) 0%, rgba(62,60,65,0.5) 10%, rgba(62,60,65,0.5) 90%, rgba(52,165,54,0.4990371148459384) 100%);
   
}





@media (min-width: 576px) {  
   
   #cookies-notification{font-size: 17px;}
   .enticing-svg{display: block;}
}





/* CONFETTI */
.confetti-container {    
   -webkit-appearance: none;
   appearance: none;     
   position: relative; 
 
}

.confetti-container:before, .confetti-container:after {
 

   position: absolute;
   content: '';
   display: block;
   z-index: 1000;

   width:100%;
   height:100%;

   transition: all ease-in-out 0.5s;
   background-repeat: no-repeat;
 }
 
 .confetti-container:before {
   display: none;
   top: -75%;
   background-image: radial-gradient(circle, #00f080 20%, transparent 20%), radial-gradient(circle, transparent 20%, #0024f0 20%, transparent 30%), radial-gradient(circle, #29bd24 20%, transparent 20%), radial-gradient(circle, #3396cf 20%, transparent 20%), radial-gradient(circle, transparent 10%, #f0cc00 15%, transparent 20%), radial-gradient(circle, #c772f1 20%, transparent 20%), radial-gradient(circle, #a8f000 20%, transparent 20%), radial-gradient(circle, #00f0f0 20%, transparent 20%), radial-gradient(circle, #cf6666 20%, transparent 20%);
   background-size: 100px 100px, 200px 200px, 150px 150px, 200px 200px, 180px 180px, 100px 100px, 150px 150px, 100px 100px, 180px 180px;
 }
 
 .confetti-container:after {
   display: none;
   bottom: -75%;
   background-image: radial-gradient(circle, #f0005c 20%, transparent 20%), radial-gradient(circle, #a000f0 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ecf000 15%, transparent 20%), radial-gradient(circle, #f00000 20%, transparent 20%), radial-gradient(circle, #00f080 20%, transparent 20%), radial-gradient(circle, #5400f0 20%, transparent 20%), radial-gradient(circle, #f08800 20%, transparent 20%);
   background-size: 150px 150px, 200px 200px, 180px 180px, 200px 200px, 150px 150px, 100px 100px, 200px 200px;
 }
 
 .confetti-container.animate:before {
   display: block;
   animation: topBubbles ease-in-out 0.75s forwards;
 }
 
 .confetti-container.animate:after {
   display: block;
   animation: bottomBubbles ease-in-out 0.75s forwards;
 }
  @keyframes
 topBubbles {  0% {
  background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
 }
  40% {
  background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
 }
  100% {
  background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
  background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
 }
 }
 @keyframes
 bottomBubbles {  0% {
  background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
 }
  40% {
  background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
 }
  100% {
  background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
  background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
 }
 }