/* button#settings{
   border: none;
   background-color: transparent;
}

#sidebar{
   min-height: 450px;
   height: 100%;

   background-color: var(--nav-navbar-bg);
   transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

#sidebar.sidebar-hidden{
   transform: translate3d(-100%,0,0);
}

#popUpSidebar{
   top:10vh; 
}

a.opacity-085{opacity:0.85 ;} 
a.opacity-hover-1:hover{opacity:1 !important;}
a.active-link.opacity-085{opacity: 1 !important;}
a.active-link{
   color: black;
   background-color: white !important;

}
a.active-link:hover{color:black;} */



.text-light-white{color:var(--text-light-white);}



 .bg-purple{background-color: var(--purple) !important;}
 .bg-dark-purple{background-color: var(--dark-purple) !important;}
 .bg-light-purple{background-color: var(--light-purple) !important;}

 h1,h2,h3{color:var(--title-color) !important;text-transform: capitalize;}
 h4,h5,h5,p{color:var(--text-color) !important;}