/* button#settings{
   border: none;
   background-color: transparent;
}

#sidebar{
   min-height: 450px;
   height: 100%;

   background-color: var(--nav-navbar-bg);
   transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

#sidebar.sidebar-hidden{
   transform: translate3d(-100%,0,0);
}

#popUpSidebar{
   top:10vh; 
}

a.opacity-085{opacity:0.85 ;} 
a.opacity-hover-1:hover{opacity:1 !important;}
a.active-link.opacity-085{opacity: 1 !important;}
a.active-link{
   color: black;
   background-color: white !important;

}
a.active-link:hover{color:black;} */




.lift-on-hover{transition:all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);}
.lift-on-hover:hover{transform:translate3d(0,-7px,0);}

 h1,h2,h3{color:var(--title-color) !important;text-transform: capitalize;}
 h4,h5,h5,p,li,div.lead{color:var(--text-color) !important;text-align: justify !important;} 

 h3.popover-header,label:not(.text-dark){color:white !important;}


 .enticing-svg{
    position: absolute;
    height:150px;
    width: 150px;
    top:0;

    right:0;
    transform: translate3d(0,-40%,0);

 }
/* 
 .right-0{
    right:0;
    transform: translate3d(100%,-40%,0);
 }

 .left-0{
    left:0;
    transform: translate3d(-100%,-40%,0);
 }
  */