/* ################################## GRID-2 ################################# */


.grid-2 {
   /* min-height: 100px; */
   width:100%;
   display: grid; 
   grid-template-columns: repeat(10, 1fr); 
   grid-template-rows: repeat(15,1fr); 
   gap: 7px 7px; 
   grid-template-areas: 
   "dwa dwa dwa dwa dwa dwa dwa dwa dwa dwa" 
   "dwa dwa dwa dwa dwa dwa dwa dwa dwa dwa" 
   "dwa dwa dwa dwa dwa dwa dwa dwa dwa dwa" 
   "dwa dwa dwa dwa dwa dwa dwa dwa dwa dwa" 
   "dwa dwa dwa dwa dwa dwa dwa dwa dwa dwa" 
   "dwa dwa dwa dwa dwa dwa dwa dwa dwa dwa" 
   "dwa dwa dwa dwa dwa dwa dwa dwa dwa dwa" 
   "jeden jeden jeden jeden jeden jeden jeden jeden jeden jeden"
   "jeden jeden jeden jeden jeden jeden jeden jeden jeden jeden"
   "jeden jeden jeden jeden jeden jeden jeden jeden jeden jeden"
   "jeden jeden jeden jeden jeden jeden jeden jeden jeden jeden"
   "jeden jeden jeden jeden jeden jeden jeden jeden jeden jeden"
   "jeden jeden jeden jeden jeden jeden jeden jeden jeden jeden"
   "jeden jeden jeden jeden jeden jeden jeden jeden jeden jeden"
   "trzy trzy trzy trzy trzy trzy trzy trzy trzy trzy "
   ;


   
}



@media (min-width: 992px) { 
   .grid-2{
      grid-template-columns: repeat(10, 1fr); 
      grid-template-rows: repeat(7,1fr); 
      gap: 0px 7px; 
      grid-template-areas: 
      "dwa dwa dwa dwa jeden jeden jeden jeden jeden jeden "
      "dwa dwa dwa dwa jeden jeden jeden jeden jeden jeden "
      "dwa dwa dwa dwa jeden jeden jeden jeden jeden jeden "
      "dwa dwa dwa dwa jeden jeden jeden jeden jeden jeden "
      "dwa dwa dwa dwa jeden jeden jeden jeden jeden jeden "
      "dwa dwa dwa dwa jeden jeden jeden jeden jeden jeden "
      "trzy trzy trzy trzy trzy trzy trzy trzy trzy trzy "
      ; 
   }
   .grid-2 > .jeden {border-bottom-left-radius: 0 !important;border-bottom-right-radius: 0 !important;}
   .grid-2 > .dwa {border-bottom-left-radius: 0 !important;border-bottom-right-radius: 0 !important;}
   .grid-2 > .trzy {border-top-left-radius: 0 !important;border-top-right-radius: 0 !important;}
 }


.grid-2 > .jeden { 
   grid-area: jeden;  
   background-color: var(--explore-grid-2-jeden);
   
}

.grid-2 > .dwa { 
   grid-area: dwa; 
   background-color: var(--explore-grid-2-dwa)
}

.grid-2 > .trzy { 
   grid-area: trzy;  
}

.grid-2 h3{color:var(--explore-h3-color);}

.svg-icon-tick{
   width: 20px;
}


.grid-2 label{
   cursor: pointer;
}

.grid-2 select {
   height: 30% !important;
}

.researches {
   max-height: 300px;
   overflow-y: auto;
}


/* ################################## research-names-container ################################# */

.research-names-container {
   height:100% !important;
   display: flex;  
   flex-direction: row; 
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;

   /* padding-left: 15px;
   display: grid; 
   grid-auto-rows: 1fr; 
   grid-template-columns: repeat(4, 1fr); 
   grid-template-rows: 0.9fr 1.1fr repeat(2, 1fr); 
   gap: 7px 7px; 
   grid-template-areas: 
   "jeden dwa trzy siedem"
   "jeden dwa trzy siedem"
   "cztery piec szesc siedem"
   "cztery piec szesc siedem";  */
 }

 .research-names-container > div { width:30%; margin: 0.55rem 0;}
 .research-names-container ~ .siedem {flex:1; }

 .bg-light-primary{background-color: #9dc4ff ;}
 .border-left-0{border-left: none;}

 input[type=radio]:checked + label svg path   {
    fill:white;
   } 

   input[type=radio]:hover + label svg path   {
      fill:white;
     } 