
/* ################################## GRID-1 ################################# */

.grid-1 {
   min-height: 550px;

   display: grid; 
   gap: 7px 7px; 
   grid-template-columns: repeat(1, 1fr); 
   grid-template-rows: repeat(5,1fr); 
   grid-template-areas: 
     "jeden" 
     "dwa"
     "trzy" 
     "cztery"
     "piec"; 
     
}


 @media (min-width: 576px) { 
   .grid-1{ 
      min-height: 439px; 
      grid-template-columns: repeat(2, 1fr); 
      grid-template-rows: repeat(3,1fr); 
      grid-template-areas: 
      "jeden dwa"
      "trzy cztery"
      "piec piec"; 
   }
 }
 @media (min-width: 992px) { 
   .grid-1{ 
      min-height: 320px; 
      grid-template-columns: repeat(4, 1fr); 
      grid-template-rows: repeat(2,1fr); 
      grid-template-areas: 
        "jeden dwa piec piec"
        "trzy cztery piec piec"; 
   }
 }



 .grid-1 .jeden { grid-area: jeden;border-radius:.25rem; }
 .grid-1 .dwa { grid-area: dwa; border-radius:.25rem;}
 .grid-1 .trzy { grid-area: trzy;border-radius:.25rem; }
 .grid-1 .cztery { grid-area: cztery; border-radius:.25rem;}
 .grid-1 .piec { grid-area: piec; border-radius:.25rem;}

 .grid-1 a{
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: var(--main-grid-a-bg);
    border: 2px solid var(--main-grid-a-border);
    color:var(--main-grid-a-text);
    /* text-shadow: 0 0 1px black; */
    font-size: 1.25rem;
    font-weight: 500;

    text-decoration: none;

    /* transition: transform 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955); */
 }

 .grid-1 a:after{
    content:'';
    border-radius:.25rem;
    z-index: 100;

   position: absolute;   
   display: flex;
   justify-content: center;
   align-items: center;
   
   width: 100%;
   height:100%;
   padding: 1rem;
   
   text-align: center;
   font-size: 1rem;
   color:var(--main-grid-a-text);
   
   opacity: 0;
   clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%); 
   
   
   background-color: var(--main-grid-a-after-bg);
   


   transition: opacity .15s cubic-bezier(0.25, 0.46, 0.45, 0.94),
               clip-path .25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

 


.grid-1 a:nth-of-type(1):after{content:'Bored of constantly scrolling down in the search for the most appealing trade-up? Let us randomly pick one just for you!'}
.grid-1 a:nth-of-type(2):after{content:'What is valuable for you is valuable for us. Here you can view trade-ups added to your favourite list!'}
.grid-1 a:nth-of-type(3):after{content:'Feeling a bit overwhelmed? We have prepared a special quide just for you so that you can fulfill your trading potential!'}
.grid-1 a:nth-of-type(4):after{content:'Thanks to hard work and our commitment we have managed to establish some partnerships. See them over there!'}
.grid-1 a:nth-of-type(5):after{content:'Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae vel nesciunt omnis quidem ex voluptate fugit voluptatem a sequi consequuntur.'}



.grid-1 a.grey-light_blue-pastell:after{
   background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),linear-gradient(90deg,#b0c3d9 0%, #5e98d9 100%);
}
.grid-1 a.light_blue-blue-pastell:after{
   background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),linear-gradient(90deg,#5e98d9 0%,#4b69ff 100%);
}
.grid-1 a.blue-purple-pastell:after{
   background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),linear-gradient(90deg,#4b69ff 0%,#8847ff 100%);
}
.grid-1 a.purple-pink-pastell:after{
   background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),linear-gradient(90deg,#8847ff 0%,#d32ee6 100%);
}
.grid-1 a.pink-red-pastell:after{
   background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),linear-gradient(90deg,#d32ee6 0%,#eb4b4b 100%);
}


.grid-1 a:hover:after{
   opacity: 1;
   clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.grid-1-content{
   z-index: 100;
}

.grid-1-content-bg{
   position: absolute;
   width: 75%;
   height: 75%;

   margin:auto;
   opacity: 0.25;
   
   z-index: 10;
}




#highlights{background-color: var(--main-highlight-section-bg);background-image: var(--main-highlight-section-bg-img);}

#hero{ 
   z-index: 2;
   height:100%;

   padding-top: 100px;
   padding-bottom: 100px;

   
   background-color: white;

   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1011%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(30%2c 35%2c 41%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c174 C 96%2c151.2 288%2c64 480%2c60 C 672%2c56 768%2c163.2 960%2c154 C 1152%2c144.8 1344%2c42 1440%2c14L1440 560L0 560z' fill='rgba(73%2c 80%2c 87%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c408 C 144%2c436.6 432%2c569.2 720%2c551 C 1008%2c532.8 1296%2c363.8 1440%2c317L1440 560L0 560z' fill='rgba(103%2c 111%2c 119%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1011'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
   
   background-size: cover;


}

#hero h1{color:white;}
/* #hero p{color:var(--text-light-white);} */

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
   #hero{min-height: calc(100vh - 85px);}
 }
#hero button:hover{transition:transform 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);}

#introduction{
   background-color: var(--main-introduction-section-bg);
}

#wave1,#wave2,#wave3{  
   width:100%;
   height:150px;

   background-size:100% 100%;
   background-repeat: no-repeat;
}
#wave1{background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1063%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(103%2c 111%2c 119%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c271 C 144%2c323.4 432%2c541.8 720%2c533 C 1008%2c524.2 1296%2c288.2 1440%2c227L1440 560L0 560z' fill='rgba(73%2c 80%2c 87%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1063'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");}
#wave2{background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1016%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c200 C 144%2c226 432%2c332.2 720%2c330 C 1008%2c327.8 1296%2c217.2 1440%2c189L1440 560L0 560z' fill='rgba(103%2c 111%2c 119%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1016'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");}
#wave3{transform:rotate(180deg);background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1021%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c479 C 144%2c428 432%2c246.2 720%2c224 C 1008%2c201.8 1296%2c339.2 1440%2c368L1440 560L0 560z' fill='rgba(103%2c 111%2c 119%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1021'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");}

#partners{background-color: var(--main-partners-bg);}
#partners div.container div.row div{display: flex; justify-content: center;}

.svg{width:50px;height:50px;opacity:0.75;}