
/* ################################## GRID-1 ################################# */

.grid-1 {
   min-height: 550px;

   display: grid; 
   gap: 7px 7px; 
   grid-template-columns: repeat(1, 1fr); 
   grid-template-rows: repeat(5,1fr); 
   grid-template-areas: 
     "jeden" 
     "dwa"
     "trzy" 
     "cztery"
     "piec"; 
     
}


 @media (min-width: 576px) { 
   .grid-1{ 
      min-height: 439px; 
      grid-template-columns: repeat(2, 1fr); 
      grid-template-rows: repeat(3,1fr); 
      grid-template-areas: 
      "jeden dwa"
      "trzy cztery"
      "piec piec"; 
   }
 }
 @media (min-width: 992px) { 
   .grid-1{ 
      min-height: 320px; 
      grid-template-columns: repeat(4, 1fr); 
      grid-template-rows: repeat(2,1fr); 
      grid-template-areas: 
        "jeden dwa piec piec"
        "trzy cztery piec piec"; 
   }
 }



 .grid-1 .jeden { grid-area: jeden;border-radius:.25rem; }
 .grid-1 .dwa { grid-area: dwa; border-radius:.25rem;}
 .grid-1 .trzy { grid-area: trzy;border-radius:.25rem; }
 .grid-1 .cztery { grid-area: cztery; border-radius:.25rem;}
 .grid-1 .piec { grid-area: piec; border-radius:.25rem;}

 .grid-1 a{
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* background-color: var(--main-grid-a-bg); */
    border: 2px solid var(--main-grid-a-border);
    color:var(--main-grid-a-text);
    /* text-shadow: 0 0 1px black; */
    font-size: 1.25rem;
    font-weight: 500;

    text-decoration: none;
 }

 .grid-1 a:after{
    content:'';
    border-radius:.25rem;
    z-index: 100;

   position: absolute;   
   display: flex;
   justify-content: center;
   align-items: center;
   
   width: 100%;
   height:100%;
   padding: 1rem;
   
   text-align: center;
   font-size: 1rem;
   color:var(--main-grid-a-text);
   /* background-color: var(--main-grid-a-after-bg); */
   
   opacity: 0;
   clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%); 

   transition: opacity .15s cubic-bezier(0.25, 0.46, 0.45, 0.94),
               clip-path .25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

 


.grid-1 a:nth-of-type(1):after{content:'Bored of constantly scrolling down in the search for the most appealing trade-up? Let us randomly pick one just for you!'}
.grid-1 a:nth-of-type(2):after{content:'What is valuable for you is valuable for us. Here you can view trade-ups added to your favourite list!'}
.grid-1 a:nth-of-type(3):after{content:'Feeling a bit overwhelmed? We have prepared a special quide just for you so that you can fulfill your trading potential!'}
.grid-1 a:nth-of-type(4):after{content:'Thanks to hard work and our commitment we have managed to establish some partnerships. See them over there!'}
.grid-1 a:nth-of-type(5):after{content:'Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae vel nesciunt omnis quidem ex voluptate fugit voluptatem a sequi consequuntur.'}


.grid-1 a.grey-light_blue:after{
   background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),linear-gradient(90deg,#b0c3d9 0%, #5e98d9 100%);
}
.grid-1 a.light_blue-blue:after{
   background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),linear-gradient(90deg,#5e98d9 0%,#4b69ff 100%);
}
.grid-1 a.blue-purple:after{
   background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),linear-gradient(90deg,#4b69ff 0%,#8847ff 100%);
}
.grid-1 a.purple-pink:after{
   background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),linear-gradient(90deg,#8847ff 0%,#d32ee6 100%);
}
.grid-1 a.pink-red:after{
   background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),linear-gradient(90deg,#d32ee6 0%,#eb4b4b 100%);
}


.grid-1 a:hover:after{
   opacity: 1;
   clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.grid-1-content{
   z-index: 100;
}

.grid-1-content-bg{
   position: absolute;
   width: 75%;
   height: 75%;

   margin:auto;
   opacity: 0.25;
   
   z-index: 10;
}

