/* STATS */

.stats{
   color:white;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: center;
}

.stats-item{
   position: relative;
   display: flex; 
   justify-content: center; 
   align-items: center; 
   margin:1rem;
}

.stats-item-title{
   position: absolute;
   top:0;
   transform:translate3d(0,-60%,0);
   width: max-content;

   border: 1px solid white;
   
   border-radius: 8px ;
   padding:4px 5px;
   font-size: 1rem;
}

.stats-item-value{
   display: flex;
   justify-content: center;
   align-items: center;

   border: 1px solid white;
   border-radius: 8px ;
   padding:12px 20px;
   font-size: 1.5rem;
   min-width: 120px;
}


/* SKIN CARDS */


#inputs,#outputs{
   position: relative;
}

.input-skins,.output-skins,.alternate-skins{
   
   height: 100%;
   display: flex;
   flex-direction: row ;
   flex-wrap: wrap;
   justify-content: center  ; 
   align-items:center;
}

.input-skins,.output-skins{
   max-height: 460px;
   overflow-y: auto;
   align-items:start;
}
.alternate-skins{
   height: min-content;
   max-height: 400px;
   overflow-y: auto;
   align-items:center;
}

.skin-card{
   position: relative;
   width:8.5rem;
   
   --scale:1;
   margin:calc(0.9rem*var(--scale)) calc(0.8rem*var(--scale));
   transform: scale(var(--scale));
}

.skin-card-label{
   font-size: 0.82rem;
}

.skin-card-float{
   z-index: 10;
   position: absolute;
   top:0;
   left:50%;
   transform:translate3d(-50%,-60%,0);
   
   padding:2px 5px;
   border-radius: 8px;
   background-color: white;
   /* border:1px solid #212529 !important; */
}

.skin-card-img{ filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.3));}

.box-shadow-inset{
   /* background-color: rgba(8, 8, 8, 0.03); */
   -webkit-box-shadow: inset 0px 0px 15px -6px rgba(8, 8, 8, 0.35); 
   box-shadow: inset 0px 0px 15px -6px rgba(8, 8, 8, 0.35);
}

.skin-card-float-left{
   left:0;
   transform:translate3d(0,-60%,0);
}

.skin-card-number,.skin-card-chances{
   position: absolute;
   top:0;
   left:100%;
   transform:translate3d(-100%,-60%,0);
   
   padding:2px 5px;
   border-radius: 8px;
   background-color: white;
   
}

hr[role="tournament6"] {
   border: 0px solid;  
   height: 1px; 
   width:80%;
   background-color: grey;
   margin: 10px 0px;
   display: flex;
   z-index: 1000;
}

hr[role="tournament6"]::before {
   position: absolute;
   background-color: rgb(88, 88, 88);
   border: 1px solid;
   border-color: grey;
   padding: 5px;
   -webkit-transform: translate3d(50%,0,0) rotate(45deg);
   -ms-transform: translate3d(50%,0,0) rotate(45deg);
   transform: translate3d(50%,0,0) rotate(45deg);
   left: 50%;
   margin: -5px 0px 0px -11px;
   content: "";
}



/* CHART */

canvas#myChart{
   width:100%;
   height: auto;
}


.chart-container{
   position: relative;
}
.chart-container:after{
   content:'Switch to larger screen to view the simulation!';
   position: absolute;
   top:0;left:0;

   

   display: flex;
   justify-content: center;
   align-items: center;

   width:100%;
   height: 100%; 

   
   /* color:var(--text-light-white); */
   color:rgba(255, 255, 255, 0.6);
   font-size: 25px;
   font-weight: 500;
   text-align: center;

   background-color: rgba(51, 51, 51, 1) ;
   background-image: url("../assets/background/simulation_warning-bg.svg");
   background-size: cover;

   box-shadow: 0px 0px 5px 5px rgba(51,51,51,0.75);
   -webkit-box-shadow: 0px 0px 5px 5px rgba(51,51,51,0.75);
   -moz-box-shadow: 0px 0px 5px 5px rgba(51,51,51,0.75);
}





@media (min-width: 576px) { .chart-container:after{display: none;}  }









/* CUSTOM SWITCH */

.switch {
   display: inline-block;
   height: 23px;
   position: relative;
   width: 40.5px;
 }
 
 .switch input {
   display:none; 
 }

 .slider {
   background-color: #df9f9f;
   bottom: 0;
   cursor: pointer;
   left: 0;
   position: absolute;
   right: 0;
   top: 0;
   transition: .4s;
 }
 
 .slider:before {
   background-color: #fff;
   bottom: 2.7px;
   content: "";
   height: 17.55px;
   left: 2.7px;
   position: absolute;
   transition: .4s;
   width: 17.55px;
 }

 .slider:after{
    content:"Edit Globally";
    color:white;
    position: absolute;
    width:max-content;
    top:0;
    left:100%;

    transform: translate3d(10%,calc(-52% +  11.5px),0);
 }
 
 input:checked + .slider {
   background-color: #66bb6a;
 }
 
 input:checked + .slider:before {
   transform: translateX(17.55px);
 }
 
 .slider.round {
   border-radius: 17.55px;
 }
 
 .slider.round:before {
   border-radius: 50%;
 } 







/* CONFETTI */


 .confetti-container {    
   -webkit-appearance: none;
   appearance: none;     
   position: relative; 
 
}

.confetti-container:before, .confetti-container:after {
 

   position: absolute;
   content: '';
   display: block;
   width: 140%;
   height: 100%;
   left: -20%;
   z-index: 1000;
   transition: all ease-in-out 0.5s;
   background-repeat: no-repeat;
 }
 
 .confetti-container:before {
   display: none;
   top: -75%;
   background-image: radial-gradient(circle, #a000f0 20%, transparent 20%), radial-gradient(circle, transparent 20%, #a000f0 20%, transparent 30%), radial-gradient(circle, #a000f0 20%, transparent 20%), radial-gradient(circle, #a000f0 20%, transparent 20%), radial-gradient(circle, transparent 10%, #a000f0 15%, transparent 20%), radial-gradient(circle, #a000f0 20%, transparent 20%), radial-gradient(circle, #a000f0 20%, transparent 20%), radial-gradient(circle, #a000f0 20%, transparent 20%), radial-gradient(circle, #a000f0 20%, transparent 20%);
   background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
 }
 
 .confetti-container:after {
   display: none;
   bottom: -75%;
   background-image: radial-gradient(circle, #a000f0 20%, transparent 20%), radial-gradient(circle, #a000f0 20%, transparent 20%), radial-gradient(circle, transparent 10%, #a000f0 15%, transparent 20%), radial-gradient(circle, #a000f0 20%, transparent 20%), radial-gradient(circle, #a000f0 20%, transparent 20%), radial-gradient(circle, #a000f0 20%, transparent 20%), radial-gradient(circle, #a000f0 20%, transparent 20%);
   background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
 }
 
 .confetti-container.animate:before {
   display: block;
   animation: topBubbles ease-in-out 0.75s forwards;
 }
 
 .confetti-container.animate:after {
   display: block;
   animation: bottomBubbles ease-in-out 0.75s forwards;
 }
  @keyframes
 topBubbles {  0% {
  background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
 }
  50% {
  background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
 }
  100% {
  background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
  background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
 }
 }
 @keyframes
 bottomBubbles {  0% {
  background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
 }
  50% {
  background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
 }
  100% {
  background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
  background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
 }
 }