.trade-tile{
   background-color: rgb(181, 225, 255);
   border:2px solid white;
}

.skin-tile-container{
   opacity:0.87;
   transition: opacity 0.1s ease-in-out;
   cursor: pointer;
}

.skin-tile-container:hover{opacity: 1;}

.skin-tile-img{
   width:150px;
   height:auto;
   position: relative;

}
.skin-number{
   display: flex;
   position: absolute;
   width:25px;
   height:25px;

   left:80%;
   top:70%;
   /* transform: scale(0.75); */


   justify-content: center;
   align-items: center;
   background-color: rgb(0, 27, 68);
   color:white;
   border-radius: 8px;
}






.plus{
   width:20px;
   height:20px;
}



.vertical-hr{
   
   align-self: center;
   margin:0 25px;
   width:3px;
   border-radius: 2px;
   height: 120px;

   background-color: grey;
}



.average-profit,.trade-cost,.rarity{
   display:flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(69, 180, 69, 0.932);
   color:white;
   
   padding: 10px 0;
   cursor: pointer;
   
   transition: background-color 0.1s ease-in-out;
}

.rarity{
   width:100%;
   padding:0;
   border-bottom-left-radius: 50px;
   border-bottom-right-radius: 50px;
}

.average-profit h5,.average-profit p,.trade-cost h5,.trade-cost p{
   font-size: 24px;
   font-weight: 300;
}


.trade-cost{
   background-color: rgba(179, 54, 54, 0.932);
}

.trade-cost:hover{
   background-color: rgba(145, 53, 41, 0.932);
}

.average-profit:hover{
   background-color: rgba(45, 119, 45, 0.932);
}
