<% layout('layouts/boilerplate')%>
   <% if(error && error.length){ %>
      <div class="container card lead alert alert-danger alert-dismissible fade show my-3" role="alert">
         <h4 class="alert-heading">Error!</h4>
         <hr>
         <p>
            <%= error %>
         </p>
         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <% } %>
         <div class="container d-flex justify-content-center align-items-center mb-5">
            <div class="row col-10 col-md-6 col-xl-4">
               <h1 class="display-3 pb-4">Sign In</h1>
               <div class="card shadow">
                  <div class="card-body ">

                     <h5 class="title">Login</h5>
                     <form action="/user/login" class="validated-form" novalidate method="POST">
                        <div class="mb-3">
                           <label class="form-label" for="username">Username</label>
                           <input class="form-control" type="text" id="username" name="username" autofocus required>
                           <div class="valid-feedback">
                              Looks good!
                           </div>
                        </div>

                        <div class="mb-3">
                           <label class="form-label" for="password">Password</label>
                           <input class="form-control" type="password" id="password" name="password" required
                              autocomplete>
                           <div class="valid-feedback">
                              Looks good!
                           </div>
                        </div>
                        <div class="d-flex justify-content-between">
                           <button type="submit" class="btn btn-success order-3">Login</button>
                           <a href="/" class="btn btn-danger order-1">View Main Page</a>

                        </div>
                        <div class="d-flex flex-column justify-content-between mt-3">

                           <a href="/user/register" class="link-secondary p-0">Don't have account? Register now!</a>
                           <span class="lead">or</span>
                           <a href="/auth/steam" class="steamLink"></a>
                        </div>
                     </form>

                  </div>
               </div>
            </div>
         </div>



         <script src="/javascripts/bootstrapJs/bs-custom-file-input.min.js"></script>
         <script src="/javascripts/bootstrapJs/validateForms.js"></script>