<% layout('layouts/boilerplate')%>

   <div class="container d-flex justify-content-center align-items-center mb-5">
      <div class="row col-10 col-md-6 col-xl-4">
         <h1 class="display-3 py-4">New User</h1>
         <div class="card shadow">
            <div class="card-body ">

               <h5 class="title">Register</h5>
               <form action="/user/register" class="validated-form" novalidate method="POST">
                  <div class="mb-3">
                     <label class="form-label" for="username">Username</label>
                     <input class="form-control" type="text" id="username" name="username" autofocus required>
                     <div class="valid-feedback">
                        Looks good!
                     </div>
                  </div>


                  <div class="mb-3">
                     <label class="form-label" for="email">Email</label>
                     <input class="form-control" type="email" id="email" name="email" required>
                     <div class="valid-feedback">
                        Looks good!
                     </div>
                  </div>

                  <div class="mb-3">
                     <label class="form-label" for="password">Password</label>
                     <input class="form-control" type="password" id="password" name="password" required autocomplete>
                     <div class="valid-feedback">
                        Looks good!
                     </div>
                  </div>
                  <div class="d-flex justify-content-between">
                     <button type="submit" class="btn btn-success order-3">Sign Up</button>
                     <a href="/skins" class="btn btn-danger order-1">Go back</a>
                  </div>
                  <div class="d-flex flex-column justify-content-between mt-3">


                     <a href="/user/login" class="link-secondary">Already have an account? Sign In now!</a>
                     <span class="lead">or</span>
                     <a href="/auth/steam" class="steamLink"></a>
                  </div>

               </form>

            </div>
         </div>
      </div>
   </div>



   <script src="/javascripts/bs-custom-file-input.min.js"></script>
   <script src="/javascripts/validateForms.js"></script>